<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#필수과제-3-（필수과제-３만-10/8일까지-과제-제출）" data-toc-modified-id="필수과제-3-（필수과제-３만-10/8일까지-과제-제출）-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>필수과제 3 （필수과제 ３만 10/8일까지 과제 제출）</a></span></li><li><span><a href="#데이터-전처리-(결측치)" data-toc-modified-id="데이터-전처리-(결측치)-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>데이터 전처리 (결측치)</a></span><ul class="toc-item"><li><span><a href="#True가-False에-비해-압도적으로-적음" data-toc-modified-id="True가-False에-비해-압도적으로-적음-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>True가 False에 비해 압도적으로 적음</a></span></li><li><span><a href="#결측치-확인" data-toc-modified-id="결측치-확인-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>결측치 확인</a></span></li><li><span><a href="#결측치가-있는-데이터들의-정답값-분포-확인" data-toc-modified-id="결측치가-있는-데이터들의-정답값-분포-확인-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>결측치가 있는 데이터들의 정답값 분포 확인</a></span><ul class="toc-item"><li><span><a href="#(y값은-총-88373개)" data-toc-modified-id="(y값은-총-88373개)-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>(y값은 총 88373개)</a></span></li></ul></li><li><span><a href="#ArrDelayMinutes,-AirTime,-ActualElapsedTime,-TaxiIn,-ArrDelay,-ArrDel15,-ArrivalDelayGroups-컬럼" data-toc-modified-id="ArrDelayMinutes,-AirTime,-ActualElapsedTime,-TaxiIn,-ArrDelay,-ArrDel15,-ArrivalDelayGroups-컬럼-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>ArrDelayMinutes, AirTime, ActualElapsedTime, TaxiIn, ArrDelay, ArrDel15, ArrivalDelayGroups 컬럼</a></span><ul class="toc-item"><li><span><a href="#위-컬럼들은-결측치를-보유한-행만-정답값이-1임.-즉,-결측치가-아니면서-정답값이-1인-분포가-없음-->-결측치를-채울-수가-없다.-따라서-컬럼-삭제" data-toc-modified-id="위-컬럼들은-결측치를-보유한-행만-정답값이-1임.-즉,-결측치가-아니면서-정답값이-1인-분포가-없음-->-결측치를-채울-수가-없다.-따라서-컬럼-삭제-2.4.1"><span class="toc-item-num">2.4.1&nbsp;&nbsp;</span>위 컬럼들은 결측치를 보유한 행만 정답값이 1임. 즉, 결측치가 아니면서 정답값이 1인 분포가 없음 -&gt; 결측치를 채울 수가 없다. 따라서 컬럼 삭제</a></span></li></ul></li><li><span><a href="#'DepTime'-,-'DepDelayMinutes',-'DepDelay'-,-'ArrTime'-,-'DepDel15'-,-'DepartureDelayGroups'-,-TaxiOut-,-'WheelsOff'-,-'-WheelsOn'-,-컬럼" data-toc-modified-id="'DepTime'-,-'DepDelayMinutes',-'DepDelay'-,-'ArrTime'-,-'DepDel15'-,-'DepartureDelayGroups'-,-TaxiOut-,-'WheelsOff'-,-'-WheelsOn'-,-컬럼-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>'DepTime' , 'DepDelayMinutes', 'DepDelay' , 'ArrTime' , 'DepDel15' , 'DepartureDelayGroups' , TaxiOut , 'WheelsOff' , ' WheelsOn' , 컬럼</a></span><ul class="toc-item"><li><span><a href="#이-컬럼들-역시-결측치-대부분이-정답값에-분포함.-결측치를-통계적으로-의미있게-채워넣기-힘듦,-오히려--정확도를-해칠-수도" data-toc-modified-id="이-컬럼들-역시-결측치-대부분이-정답값에-분포함.-결측치를-통계적으로-의미있게-채워넣기-힘듦,-오히려--정확도를-해칠-수도-2.5.1"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>이 컬럼들 역시 결측치 대부분이 정답값에 분포함. 결측치를 통계적으로 의미있게 채워넣기 힘듦, 오히려  정확도를 해칠 수도</a></span></li></ul></li><li><span><a href="#나머지-결측치" data-toc-modified-id="나머지-결측치-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>나머지 결측치</a></span></li><li><span><a href="#'Tail_Number'-컬럼도-레벨이-너무-다양하고-결측치의-정답값의-비율이-너무-높아-삭제" data-toc-modified-id="'Tail_Number'-컬럼도-레벨이-너무-다양하고-결측치의-정답값의-비율이-너무-높아-삭제-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>'Tail_Number' 컬럼도 레벨이 너무 다양하고 결측치의 정답값의 비율이 너무 높아 삭제</a></span></li><li><span><a href="#나머지-두-컬럼의-결측치는-개수가-너무-적어-데이터를-날림" data-toc-modified-id="나머지-두-컬럼의-결측치는-개수가-너무-적어-데이터를-날림-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>나머지 두 컬럼의 결측치는 개수가 너무 적어 데이터를 날림</a></span></li></ul></li><li><span><a href="#데이터-전처리(인코딩-및-컬럼-간소화)" data-toc-modified-id="데이터-전처리(인코딩-및-컬럼-간소화)-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>데이터 전처리(인코딩 및 컬럼 간소화)</a></span><ul class="toc-item"><li><span><a href="#컬럼-설명서를-봤을-때,-비슷한-내용을-가진-컬럼도-있었고,-이미-인코딩-된-것-같은-컬럼도-있었음" data-toc-modified-id="컬럼-설명서를-봤을-때,-비슷한-내용을-가진-컬럼도-있었고,-이미-인코딩-된-것-같은-컬럼도-있었음-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>컬럼 설명서를 봤을 때, 비슷한 내용을 가진 컬럼도 있었고, 이미 인코딩 된 것 같은 컬럼도 있었음</a></span><ul class="toc-item"><li><span><a href="#날짜를-나타내는-컬럼들" data-toc-modified-id="날짜를-나타내는-컬럼들-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>날짜를 나타내는 컬럼들</a></span></li><li><span><a href="#나머지-컬럼들과-정답-레이블-간의-상관관계-파악" data-toc-modified-id="나머지-컬럼들과-정답-레이블-간의-상관관계-파악-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>나머지 컬럼들과 정답 레이블 간의 상관관계 파악</a></span></li><li><span><a href="#상관계수가-제일-높은-Quarter만-채택" data-toc-modified-id="상관계수가-제일-높은-Quarter만-채택-3.1.3"><span class="toc-item-num">3.1.3&nbsp;&nbsp;</span>상관계수가 제일 높은 Quarter만 채택</a></span></li></ul></li><li><span><a href="#Origin-관련-컬럼들" data-toc-modified-id="Origin-관련-컬럼들-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Origin 관련 컬럼들</a></span><ul class="toc-item"><li><span><a href="#Origin-->-OriginAirportID-인코딩-됨" data-toc-modified-id="Origin-->-OriginAirportID-인코딩-됨-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Origin -&gt; OriginAirportID 인코딩 됨</a></span></li><li><span><a href="#OriginState,-OriginStateFips,-OriginStateName-->-OriginWac-인코딩-됨" data-toc-modified-id="OriginState,-OriginStateFips,-OriginStateName-->-OriginWac-인코딩-됨-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>OriginState, OriginStateFips, OriginStateName -&gt; OriginWac 인코딩 됨</a></span></li><li><span><a href="#OriginCityName-->-OriginWac-안에-범주-간소화-되어-인코딩-됨" data-toc-modified-id="OriginCityName-->-OriginWac-안에-범주-간소화-되어-인코딩-됨-3.2.3"><span class="toc-item-num">3.2.3&nbsp;&nbsp;</span>OriginCityName -&gt; OriginWac 안에 범주 간소화 되어 인코딩 됨</a></span></li><li><span><a href="#상관계수-제일-높은-OriginWac만-채택" data-toc-modified-id="상관계수-제일-높은-OriginWac만-채택-3.2.4"><span class="toc-item-num">3.2.4&nbsp;&nbsp;</span>상관계수 제일 높은 OriginWac만 채택</a></span></li></ul></li><li><span><a href="#destination-관련-컬럼들" data-toc-modified-id="destination-관련-컬럼들-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>destination 관련 컬럼들</a></span><ul class="toc-item"><li><span><a href="#Dest-->-DestAirportID-인코딩-됨" data-toc-modified-id="Dest-->-DestAirportID-인코딩-됨-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Dest -&gt; DestAirportID 인코딩 됨</a></span></li><li><span><a href="#DestState,-DestStateFips,-DestStateName-->-DestWac-인코딩-됨" data-toc-modified-id="DestState,-DestStateFips,-DestStateName-->-DestWac-인코딩-됨-3.3.2"><span class="toc-item-num">3.3.2&nbsp;&nbsp;</span>DestState, DestStateFips, DestStateName -&gt; DestWac 인코딩 됨</a></span></li><li><span><a href="#DestCityName-->-OriginWac-안에-범주-간소화-되어-인코딩-됨" data-toc-modified-id="DestCityName-->-OriginWac-안에-범주-간소화-되어-인코딩-됨-3.3.3"><span class="toc-item-num">3.3.3&nbsp;&nbsp;</span>DestCityName -&gt; OriginWac 안에 범주 간소화 되어 인코딩 됨</a></span></li><li><span><a href="#상관계수-제일-높은-DestWac만-채택" data-toc-modified-id="상관계수-제일-높은-DestWac만-채택-3.3.4"><span class="toc-item-num">3.3.4&nbsp;&nbsp;</span>상관계수 제일 높은 DestWac만 채택</a></span></li></ul></li><li><span><a href="#문자형-컬럼-인코딩" data-toc-modified-id="문자형-컬럼-인코딩-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>문자형 컬럼 인코딩</a></span><ul class="toc-item"><li><span><a href="#문자형-데이터만-추출" data-toc-modified-id="문자형-데이터만-추출-3.4.1"><span class="toc-item-num">3.4.1&nbsp;&nbsp;</span>문자형 데이터만 추출</a></span></li><li><span><a href="#Operating_Airline-컬럼,-IATA_Code_Operating_Airline-,-Airline컬럼은-같은-컬럼" data-toc-modified-id="Operating_Airline-컬럼,-IATA_Code_Operating_Airline-,-Airline컬럼은-같은-컬럼-3.4.2"><span class="toc-item-num">3.4.2&nbsp;&nbsp;</span>Operating_Airline 컬럼, IATA_Code_Operating_Airline , Airline컬럼은 같은 컬럼</a></span></li><li><span><a href="#IATA_Code_Marketing_Airline,-Marketing_Airline_Network-컬럼도-같은-컬럼" data-toc-modified-id="IATA_Code_Marketing_Airline,-Marketing_Airline_Network-컬럼도-같은-컬럼-3.4.3"><span class="toc-item-num">3.4.3&nbsp;&nbsp;</span>IATA_Code_Marketing_Airline, Marketing_Airline_Network 컬럼도 같은 컬럼</a></span></li><li><span><a href="#인코딩" data-toc-modified-id="인코딩-3.4.4"><span class="toc-item-num">3.4.4&nbsp;&nbsp;</span>인코딩</a></span></li></ul></li><li><span><a href="#인코딩-끝,-마지막으로-나머지-컬럼들-중-중복되는-컬럼이-없는지-확인" data-toc-modified-id="인코딩-끝,-마지막으로-나머지-컬럼들-중-중복되는-컬럼이-없는지-확인-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>인코딩 끝, 마지막으로 나머지 컬럼들 중 중복되는 컬럼이 없는지 확인</a></span></li></ul></li><li><span><a href="#중복없음,-인코딩-끝!" data-toc-modified-id="중복없음,-인코딩-끝!-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>중복없음, 인코딩 끝!</a></span></li><li><span><a href="#scaling" data-toc-modified-id="scaling-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>scaling</a></span></li></ul></div>

# 필수과제 3 （필수과제 ３만 10/8일까지 과제 제출）

과제 데이터는 샘플데이터를 공유할 예정
해당 데이터를 가지고 전처리 후에 평가지표와 다른 모델들간의 비교 필요.

필수적으로 공유해야 하는 내용
데이터 전처리 방법 정리와 시각화
(실제 데이터를 전처리 하는 과정에서 피처를 선택했던 이유나 전처리를 선택한 이유들을 정리해서 공유)
평가지표에 대한 임계값을 조절하면서 변화를 정리하자. (모델은 로지스틱으로 진행)
로지스틱에 있는 위의 임계값을 조절해서 실제 매트릭스가 어떤 식으로 변하는지를 정리
정확도, 정밀도, 재현율, ROC, AUC 까지 시각화를 통해 어떤 식으로 변화하는지 정리 필수
모델간의 비교 진행하기
로지스틱, DT, RF, KNN 3개의 모델을 가지고 직접 모델링을 진행하고
평가지표에 대한 비교 정리와 ROC 커브에 대한 시각화를 통해 어떤 모델을 선정할지 기준점 잡기

# 데이터 전처리 (결측치)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv('Combined_Flights_2018.csv')

In [3]:
df

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2018-01-23,Endeavor Air Inc.,ABY,ATL,False,False,1202,1157.0,0.0,-5.0,...,1211.0,1249.0,7.0,1304,-8.0,0.0,-1.0,1300-1359,1,0.0
1,2018-01-24,Endeavor Air Inc.,ABY,ATL,False,False,1202,1157.0,0.0,-5.0,...,1210.0,1246.0,12.0,1304,-6.0,0.0,-1.0,1300-1359,1,0.0
2,2018-01-25,Endeavor Air Inc.,ABY,ATL,False,False,1202,1153.0,0.0,-9.0,...,1211.0,1251.0,11.0,1304,-2.0,0.0,-1.0,1300-1359,1,0.0
3,2018-01-26,Endeavor Air Inc.,ABY,ATL,False,False,1202,1150.0,0.0,-12.0,...,1207.0,1242.0,11.0,1304,-11.0,0.0,-1.0,1300-1359,1,0.0
4,2018-01-27,Endeavor Air Inc.,ABY,ATL,False,False,1400,1355.0,0.0,-5.0,...,1412.0,1448.0,11.0,1500,-1.0,0.0,-1.0,1500-1559,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5689507,2018-09-11,Air Wisconsin Airlines Corp,SCE,IAD,False,False,1445,1433.0,0.0,-12.0,...,1437.0,1512.0,3.0,1546,-31.0,0.0,-2.0,1500-1559,1,0.0
5689508,2018-09-11,Air Wisconsin Airlines Corp,IAD,GSO,False,False,1235,1224.0,0.0,-11.0,...,1254.0,1337.0,7.0,1355,-11.0,0.0,-1.0,1300-1359,1,0.0
5689509,2018-09-11,Air Wisconsin Airlines Corp,EVV,ORD,False,False,1030,1016.0,0.0,-14.0,...,1036.0,1130.0,7.0,1204,-27.0,0.0,-2.0,1200-1259,2,0.0
5689510,2018-09-11,Air Wisconsin Airlines Corp,ORD,HPN,False,False,1410,1403.0,0.0,-7.0,...,1428.0,1712.0,5.0,1726,-9.0,0.0,-1.0,1700-1759,3,0.0
5689511,2018-09-11,Air Wisconsin Airlines Corp,HPN,ORD,False,False,1800,1754.0,0.0,-6.0,...,1808.0,1904.0,15.0,1933,-14.0,0.0,-1.0,1900-1959,3,0.0

In [4]:
df['Cancelled'].value_counts()

False    5601139
True       88373
Name: Cancelled, dtype: int64

## True가 False에 비해 압도적으로 적음

In [5]:
df.columns

Index(['FlightDate', 'Airline', 'Origin', 'Dest', 'Cancelled', 'Diverted',
       'CRSDepTime', 'DepTime', 'DepDelayMinutes', 'DepDelay', 'ArrTime',
       'ArrDelayMinutes', 'AirTime', 'CRSElapsedTime', 'ActualElapsedTime',
       'Distance', 'Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek',
       'Marketing_Airline_Network', 'Operated_or_Branded_Code_Share_Partners',
       'DOT_ID_Marketing_Airline', 'IATA_Code_Marketing_Airline',
       'Flight_Number_Marketing_Airline', 'Operating_Airline',
       'DOT_ID_Operating_Airline', 'IATA_Code_Operating_Airline',
       'Tail_Number', 'Flight_Number_Operating_Airline', 'OriginAirportID',
       'OriginAirportSeqID', 'OriginCityMarketID', 'OriginCityName',
       'OriginState', 'OriginStateFips', 'OriginStateName', 'OriginWac',
       'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'DestCityName',
       'DestState', 'DestStateFips', 'DestStateName', 'DestWac', 'DepDel15',
       'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut', 'WheelsOff',
       'WheelsOn', 'TaxiIn', 'CRSArrTime', 'ArrDelay', 'ArrDel15',
       'ArrivalDelayGroups', 'ArrTimeBlk', 'DistanceGroup',
       'DivAirportLandings'],
      dtype='object')

## 결측치 확인

In [6]:
np.where(df.isna().sum() != 0)

(array([ 7,  8,  9, 10, 11, 12, 13, 14, 29, 47, 48, 50, 51, 52, 53, 55, 56,
        57, 60], dtype=int64),)

In [7]:
df_na = df.iloc[:,[ 7,  8,  9, 10, 11, 12, 13, 14, 29, 47, 48, 50, 51, 52, 53, 55, 56,
        57, 60]]

In [8]:
df_na.isna().sum()

DepTime                  85380
DepDelayMinutes          86575
DepDelay                 86575
ArrTime                  90615
ArrDelayMinutes         102893
AirTime                 109271
CRSElapsedTime               6
ActualElapsedTime       102347
Tail_Number              20548
DepDel15                 86575
DepartureDelayGroups     86575
TaxiOut                  94694
WheelsOff                94684
WheelsOn                 97549
TaxiIn                   97559
ArrDelay                102893
ArrDel15                102893
ArrivalDelayGroups      102893
DivAirportLandings           1
dtype: int64

In [9]:
df_na.columns

Index(['DepTime', 'DepDelayMinutes', 'DepDelay', 'ArrTime', 'ArrDelayMinutes',
       'AirTime', 'CRSElapsedTime', 'ActualElapsedTime', 'Tail_Number',
       'DepDel15', 'DepartureDelayGroups', 'TaxiOut', 'WheelsOff', 'WheelsOn',
       'TaxiIn', 'ArrDelay', 'ArrDel15', 'ArrivalDelayGroups',
       'DivAirportLandings'],
      dtype='object')

In [10]:
df[df['AirTime'].isna() == True]['Cancelled'].value_counts()

True     88373
False    20898
Name: Cancelled, dtype: int64

## 결측치가 있는 데이터들의 정답값 분포 확인

### (y값은 총 88373개)

In [11]:
for i in df_na.columns:
    print('column :', i)
    print(df[df[i].isna() == True]['Cancelled'].value_counts())
    print('')

column : DepTime
True     85360
False       20
Name: Cancelled, dtype: int64

column : DepDelayMinutes
True     85462
False     1113
Name: Cancelled, dtype: int64

column : DepDelay
True     85462
False     1113
Name: Cancelled, dtype: int64

column : ArrTime
True     88364
False     2251
Name: Cancelled, dtype: int64

column : ArrDelayMinutes
True     88373
False    14520
Name: Cancelled, dtype: int64

column : AirTime
True     88373
False    20898
Name: Cancelled, dtype: int64

column : CRSElapsedTime
False    3
True     3
Name: Cancelled, dtype: int64

column : ActualElapsedTime
True     88373
False    13974
Name: Cancelled, dtype: int64

column : Tail_Number
True     20529
False       19
Name: Cancelled, dtype: int64

column : DepDel15
True     85462
False     1113
Name: Cancelled, dtype: int64

column : DepartureDelayGroups
True     85462
False     1113
Name: Cancelled, dtype: int64

column : TaxiOut
True     87703
False     6991
Name: Cancelled, dtype: int64

column : WheelsOff
True     87693
False     6991
Name: Cancelled, dtype: int64

column : WheelsOn
True     88364
False     9185
Name: Cancelled, dtype: int64

column : TaxiIn
True     88373
False     9186
Name: Cancelled, dtype: int64

column : ArrDelay
True     88373
False    14520
Name: Cancelled, dtype: int64

column : ArrDel15
True     88373
False    14520
Name: Cancelled, dtype: int64

column : ArrivalDelayGroups
True     88373
False    14520
Name: Cancelled, dtype: int64

column : DivAirportLandings
True    1
Name: Cancelled, dtype: int64

## ArrDelayMinutes, AirTime, ActualElapsedTime, TaxiIn, ArrDelay, ArrDel15, ArrivalDelayGroups 컬럼

### 위 컬럼들은 결측치를 보유한 행만 정답값이 1임. 즉, 결측치가 아니면서 정답값이 1인 분포가 없음 -> 결측치를 채울 수가 없다. 따라서 컬럼 삭제

## 'DepTime' , 'DepDelayMinutes', 'DepDelay' , 'ArrTime' , 'DepDel15' , 'DepartureDelayGroups' , TaxiOut , 'WheelsOff' , ' WheelsOn' , 컬럼

### 이 컬럼들 역시 결측치 대부분이 정답값에 분포함. 결측치를 통계적으로 의미있게 채워넣기 힘듦, 오히려  정확도를 해칠 수도

In [12]:
df = df.drop(columns = ['ArrDelayMinutes', 'AirTime', 'ActualElapsedTime', 'TaxiIn', 'ArrDelay', 'ArrDel15', 'ArrivalDelayGroups'])

In [13]:
df = df.drop(columns = ['DepTime' , 'DepDelayMinutes', 'DepDelay' , 'ArrTime' , 'DepDel15' , 'DepartureDelayGroups' , 'TaxiOut' , 'WheelsOff' , 'WheelsOn'])

In [14]:
df

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,CRSElapsedTime,Distance,Year,...,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepTimeBlk,CRSArrTime,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2018-01-23,Endeavor Air Inc.,ABY,ATL,False,False,1202,62.0,145.0,2018,...,"Atlanta, GA",GA,13,Georgia,34,1200-1259,1304,1300-1359,1,0.0
1,2018-01-24,Endeavor Air Inc.,ABY,ATL,False,False,1202,62.0,145.0,2018,...,"Atlanta, GA",GA,13,Georgia,34,1200-1259,1304,1300-1359,1,0.0
2,2018-01-25,Endeavor Air Inc.,ABY,ATL,False,False,1202,62.0,145.0,2018,...,"Atlanta, GA",GA,13,Georgia,34,1200-1259,1304,1300-1359,1,0.0
3,2018-01-26,Endeavor Air Inc.,ABY,ATL,False,False,1202,62.0,145.0,2018,...,"Atlanta, GA",GA,13,Georgia,34,1200-1259,1304,1300-1359,1,0.0
4,2018-01-27,Endeavor Air Inc.,ABY,ATL,False,False,1400,60.0,145.0,2018,...,"Atlanta, GA",GA,13,Georgia,34,1400-1459,1500,1500-1559,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5689507,2018-09-11,Air Wisconsin Airlines Corp,SCE,IAD,False,False,1445,61.0,133.0,2018,...,"Washington, DC",VA,51,Virginia,38,1400-1459,1546,1500-1559,1,0.0
5689508,2018-09-11,Air Wisconsin Airlines Corp,IAD,GSO,False,False,1235,80.0,239.0,2018,...,"Greensboro/High Point, NC",NC,37,North Carolina,36,1200-1259,1355,1300-1359,1,0.0
5689509,2018-09-11,Air Wisconsin Airlines Corp,EVV,ORD,False,False,1030,94.0,272.0,2018,...,"Chicago, IL",IL,17,Illinois,41,1000-1059,1204,1200-1259,2,0.0
5689510,2018-09-11,Air Wisconsin Airlines Corp,ORD,HPN,False,False,1410,136.0,738.0,2018,...,"White Plains, NY",NY,36,New York,22,1400-1459,1726,1700-1759,3,0.0
5689511,2018-09-11,Air Wisconsin Airlines Corp,HPN,ORD,False,False,1800,153.0,738.0,2018,...,"Chicago, IL",IL,17,Illinois,41,1800-1859,1933,1900-1959,3,0.0

## 나머지 결측치

In [15]:
np.where(df.isna().sum() != 0)

(array([ 7, 22, 44], dtype=int64),)

In [16]:
df_na = df.iloc[:,[7,22,44]]

In [17]:
df_na.isna().sum()

CRSElapsedTime            6
Tail_Number           20548
DivAirportLandings        1
dtype: int64

In [18]:
df['Tail_Number'].value_counts()

N491HA    3810
N495HA    3695
N494HA    3692
N477HA    3601
N486HA    3589
          ...
N802NW       1
N274AY       1
N864DA       1
N805H        1
N724AN       1
Name: Tail_Number, Length: 6093, dtype: int64

## 'Tail_Number' 컬럼도 레벨이 너무 다양하고 결측치의 정답값의 비율이 너무 높아 삭제
## 나머지 두 컬럼의 결측치는 개수가 너무 적어 데이터를 날림

In [19]:
df = df.drop(columns = 'Tail_Number')

In [20]:
df = df.dropna()

# 데이터 전처리(인코딩 및 컬럼 간소화)

## 컬럼 설명서를 봤을 때, 비슷한 내용을 가진 컬럼도 있었고, 이미 인코딩 된 것 같은 컬럼도 있었음

### 날짜를 나타내는 컬럼들

In [21]:
df_date = df[['FlightDate','Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek', 'Cancelled']]

In [22]:
df['FlightDate'].unique()

array(['2018-01-23', '2018-01-24', '2018-01-25', '2018-01-26',
       '2018-01-27', '2018-01-28', '2018-01-29', '2018-01-30',
       '2018-01-31', '2018-01-03', '2018-01-04', '2018-01-05',
       '2018-01-06', '2018-01-07', '2018-01-08', '2018-01-09',
       '2018-01-10', '2018-01-11', '2018-01-12', '2018-01-13',
       '2018-01-14', '2018-01-15', '2018-01-16', '2018-01-17',
       '2018-01-18', '2018-01-19', '2018-01-20', '2018-01-21',
       '2018-01-22', '2018-01-01', '2018-01-02', '2018-10-05',
       '2018-10-06', '2018-10-07', '2018-10-16', '2018-10-17',
       '2018-10-18', '2018-10-19', '2018-10-20', '2018-10-21',
       '2018-10-22', '2018-10-01', '2018-10-29', '2018-10-30',
       '2018-10-10', '2018-10-11', '2018-10-12', '2018-10-13',
       '2018-10-14', '2018-10-15', '2018-10-23', '2018-10-08',
       '2018-10-09', '2018-10-28', '2018-10-27', '2018-10-24',
       '2018-10-04', '2018-10-25', '2018-10-26', '2018-10-02',
       '2018-10-03', '2018-10-31', '2018-11-14', '2018-11-21',
       '2018-11-22', '2018-11-08', '2018-11-09', '2018-11-11',
       '2018-11-12', '2018-11-23', '2018-11-24', '2018-11-25',
       '2018-11-26', '2018-11-27', '2018-11-28', '2018-11-29',
       '2018-11-30', '2018-11-01', '2018-11-02', '2018-11-03',
       '2018-11-04', '2018-11-05', '2018-11-06', '2018-11-07',
       '2018-11-10', '2018-11-13', '2018-11-15', '2018-11-16',
       '2018-11-17', '2018-11-18', '2018-11-19', '2018-11-20',
       '2018-12-18', '2018-12-19', '2018-12-30', '2018-12-31',
       '2018-12-08', '2018-12-09', '2018-12-10', '2018-12-11',
       '2018-12-15', '2018-12-16', '2018-12-27', '2018-12-28',
       '2018-12-29', '2018-12-07', '2018-12-06', '2018-12-05',
       '2018-12-04', '2018-12-03', '2018-12-17', '2018-12-14',
       '2018-12-13', '2018-12-02', '2018-12-01', '2018-12-26',
       '2018-12-25', '2018-12-24', '2018-12-23', '2018-12-22',
       '2018-12-12', '2018-12-20', '2018-12-21', '2018-02-04',
       '2018-02-05', '2018-02-06', '2018-02-07', '2018-02-08',
       '2018-02-09', '2018-02-10', '2018-02-01', '2018-02-02',
       '2018-02-03', '2018-02-11', '2018-02-12', '2018-02-13',
       '2018-02-14', '2018-02-15', '2018-02-16', '2018-02-17',
       '2018-02-18', '2018-02-19', '2018-02-20', '2018-02-21',
       '2018-02-23', '2018-02-24', '2018-02-22', '2018-02-27',
       '2018-02-28', '2018-02-25', '2018-02-26', '2018-03-28',
       '2018-03-27', '2018-03-15', '2018-03-14', '2018-03-13',
       '2018-03-12', '2018-03-06', '2018-03-05', '2018-03-04',
       '2018-03-03', '2018-03-02', '2018-03-24', '2018-03-23',
       '2018-03-11', '2018-03-10', '2018-03-09', '2018-03-08',
       '2018-03-01', '2018-03-31', '2018-03-30', '2018-03-29',
       '2018-03-26', '2018-03-25', '2018-03-22', '2018-03-21',
       '2018-03-20', '2018-03-19', '2018-03-16', '2018-03-07',
       '2018-03-17', '2018-03-18', '2018-04-28', '2018-04-29',
       '2018-04-30', '2018-04-01', '2018-04-02', '2018-04-03',
       '2018-04-04', '2018-04-05', '2018-04-06', '2018-04-07',
       '2018-04-08', '2018-04-09', '2018-04-10', '2018-04-11',
       '2018-04-12', '2018-04-13', '2018-04-14', '2018-04-15',
       '2018-04-16', '2018-04-17', '2018-04-18', '2018-04-19',
       '2018-04-20', '2018-04-21', '2018-04-22', '2018-04-23',
       '2018-04-24', '2018-04-25', '2018-04-26', '2018-04-27',
       '2018-05-11', '2018-05-12', '2018-05-13', '2018-05-14',
       '2018-05-15', '2018-05-16', '2018-05-17', '2018-05-18',
       '2018-05-26', '2018-05-27', '2018-05-28', '2018-05-29',
       '2018-05-30', '2018-05-31', '2018-05-01', '2018-05-02',
       '2018-05-03', '2018-05-04', '2018-05-23', '2018-05-24',
       '2018-05-25', '2018-05-05', '2018-05-06', '2018-05-07',
       '2018-05-08', '2018-05-09', '2018-05-10', '2018-05-19',
       '2018-05-20', '2018-05-21', '2018-05-22', '2018-06-07',
       '2018-06-08', '2018-06-10', '2018-06-11', '2018-06-12',
       '2018-06-13', '2018-06-14', '2018-06-15', '2018-06-17',
       '2018-06-19', '2018-06-20', '2018-06-21', '2018-06-22',
       '2018-06-24', '2018-06-25', '2018-06-26', '2018-06-27',
       '2018-06-28', '2018-06-01', '2018-06-02', '2018-06-03',
       '2018-06-04', '2018-06-05', '2018-06-06', '2018-06-09',
       '2018-06-16', '2018-06-18', '2018-06-23', '2018-06-29',
       '2018-06-30', '2018-07-05', '2018-07-06', '2018-07-07',
       '2018-07-08', '2018-07-09', '2018-07-10', '2018-07-11',
       '2018-07-12', '2018-07-13', '2018-07-14', '2018-07-15',
       '2018-07-16', '2018-07-17', '2018-07-18', '2018-07-19',
       '2018-07-20', '2018-07-21', '2018-07-22', '2018-07-23',
       '2018-07-24', '2018-07-25', '2018-07-26', '2018-07-27',
       '2018-07-28', '2018-07-29', '2018-07-30', '2018-07-31',
       '2018-07-01', '2018-07-02', '2018-07-03', '2018-07-04',
       '2018-08-07', '2018-08-08', '2018-08-09', '2018-08-10',
       '2018-08-11', '2018-08-12', '2018-08-13', '2018-08-14',
       '2018-08-15', '2018-08-16', '2018-08-17', '2018-08-18',
       '2018-08-19', '2018-08-20', '2018-08-21', '2018-08-22',
       '2018-08-23', '2018-08-24', '2018-08-25', '2018-08-26',
       '2018-08-27', '2018-08-28', '2018-08-29', '2018-08-30',
       '2018-08-31', '2018-08-01', '2018-08-02', '2018-08-03',
       '2018-08-04', '2018-08-05', '2018-08-06', '2018-09-21',
       '2018-09-23', '2018-09-24', '2018-09-25', '2018-09-26',
       '2018-09-27', '2018-09-28', '2018-09-30', '2018-09-03',
       '2018-09-04', '2018-09-05', '2018-09-06', '2018-09-07',
       '2018-09-09', '2018-09-10', '2018-09-11', '2018-09-12',
       '2018-09-13', '2018-09-14', '2018-09-16', '2018-09-17',
       '2018-09-18', '2018-09-19', '2018-09-20', '2018-09-01',
       '2018-09-02', '2018-09-08', '2018-09-15', '2018-09-22',
       '2018-09-29'], dtype=object)

- FlightDate 삭제 (Countable한 데이터인데 그 종류가 너무 많고, 이미 다른 컬럼들로 세분화 되어 인코딩 된 상황)
- Year 삭제 (2018로 모두 동일, 독립변수로 기능 못함)

In [23]:
df = df.drop(columns = ['FlightDate','Year'])
df_date = df_date.drop(columns = ['FlightDate','Year'])

### 나머지 컬럼들과 정답 레이블 간의 상관관계 파악

In [24]:
df['Cancelled'].unique()

array([False,  True])

In [25]:
df_date.corr()

             Quarter     Month  DayofMonth  DayOfWeek  Cancelled
Quarter     1.000000  0.971604    0.006832   0.007626  -0.032433
Month       0.971604  1.000000    0.007349   0.019599  -0.030138
DayofMonth  0.006832  0.007349    1.000000   0.007944  -0.021850
DayOfWeek   0.007626  0.019599    0.007944   1.000000  -0.010526
Cancelled  -0.032433 -0.030138   -0.021850  -0.010526   1.000000

### 상관계수가 제일 높은 Quarter만 채택

In [26]:
df = df.drop(columns = ['Month','DayofMonth' ,'DayOfWeek'])

In [27]:
df

,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,CRSElapsedTime,Distance,Quarter,Marketing_Airline_Network,...,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepTimeBlk,CRSArrTime,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,Endeavor Air Inc.,ABY,ATL,False,False,1202,62.0,145.0,1,DL,...,"Atlanta, GA",GA,13,Georgia,34,1200-1259,1304,1300-1359,1,0.0
1,Endeavor Air Inc.,ABY,ATL,False,False,1202,62.0,145.0,1,DL,...,"Atlanta, GA",GA,13,Georgia,34,1200-1259,1304,1300-1359,1,0.0
2,Endeavor Air Inc.,ABY,ATL,False,False,1202,62.0,145.0,1,DL,...,"Atlanta, GA",GA,13,Georgia,34,1200-1259,1304,1300-1359,1,0.0
3,Endeavor Air Inc.,ABY,ATL,False,False,1202,62.0,145.0,1,DL,...,"Atlanta, GA",GA,13,Georgia,34,1200-1259,1304,1300-1359,1,0.0
4,Endeavor Air Inc.,ABY,ATL,False,False,1400,60.0,145.0,1,DL,...,"Atlanta, GA",GA,13,Georgia,34,1400-1459,1500,1500-1559,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5689507,Air Wisconsin Airlines Corp,SCE,IAD,False,False,1445,61.0,133.0,3,UA,...,"Washington, DC",VA,51,Virginia,38,1400-1459,1546,1500-1559,1,0.0
5689508,Air Wisconsin Airlines Corp,IAD,GSO,False,False,1235,80.0,239.0,3,UA,...,"Greensboro/High Point, NC",NC,37,North Carolina,36,1200-1259,1355,1300-1359,1,0.0
5689509,Air Wisconsin Airlines Corp,EVV,ORD,False,False,1030,94.0,272.0,3,UA,...,"Chicago, IL",IL,17,Illinois,41,1000-1059,1204,1200-1259,2,0.0
5689510,Air Wisconsin Airlines Corp,ORD,HPN,False,False,1410,136.0,738.0,3,UA,...,"White Plains, NY",NY,36,New York,22,1400-1459,1726,1700-1759,3,0.0
5689511,Air Wisconsin Airlines Corp,HPN,ORD,False,False,1800,153.0,738.0,3,UA,...,"Chicago, IL",IL,17,Illinois,41,1800-1859,1933,1900-1959,3,0.0

In [28]:
df.describe(include = 'all')

,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,CRSElapsedTime,Distance,Quarter,Marketing_Airline_Network,...,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepTimeBlk,CRSArrTime,ArrTimeBlk,DistanceGroup,DivAirportLandings
count,5689505,5689505,5689505,5689505,5689505,5.689505e+06,5.689505e+06,5.689505e+06,5.689505e+06,5689505,...,5689505,5689505,5.689505e+06,5689505,5.689505e+06,5689505,5.689505e+06,5689505,5.689505e+06,5.689505e+06
unique,28,370,370,2,2,NaN,NaN,NaN,NaN,11,...,364,52,NaN,52,NaN,19,NaN,19,NaN,NaN
top,Southwest Airlines Co.,ORD,ORD,False,False,NaN,NaN,NaN,NaN,UA,...,"Chicago, IL",CA,NaN,California,NaN,0600-0659,NaN,1600-1659,NaN,NaN
freq,1352552,289451,289405,5601136,5675553,NaN,NaN,NaN,NaN,1525257,...,374387,704887,NaN,704887,NaN,407885,NaN,363407,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,1.330342e+03,1.389089e+02,7.878013e+02,2.765150e+00,NaN,...,NaN,NaN,2.666328e+01,NaN,5.520609e+01,NaN,1.482252e+03,NaN,3.625994e+00,3.567973e-03
std,NaN,NaN,NaN,NaN,NaN,4.913569e+02,7.288407e+01,5.943095e+02,1.115763e+00,NaN,...,NaN,NaN,1.657323e+01,NaN,2.697068e+01,NaN,5.212881e+02,NaN,2.342451e+00,1.112793e-01
min,NaN,NaN,NaN,NaN,NaN,1.000000e+00,-9.900000e+01,1.600000e+01,1.000000e+00,NaN,...,NaN,NaN,1.000000e+00,NaN,1.000000e+00,NaN,1.000000e+00,NaN,1.000000e+00,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,9.150000e+02,8.600000e+01,3.490000e+02,2.000000e+00,NaN,...,NaN,NaN,1.200000e+01,NaN,3.400000e+01,NaN,1.058000e+03,NaN,2.000000e+00,0.000000e+00
50%,NaN,NaN,NaN,NaN,NaN,1.323000e+03,1.200000e+02,6.280000e+02,3.000000e+00,NaN,...,NaN,NaN,2.500000e+01,NaN,4.500000e+01,NaN,1.512000e+03,NaN,3.000000e+00,0.000000e+00
75%,NaN,NaN,NaN,NaN,NaN,1.735000e+03,1.700000e+02,1.024000e+03,4.000000e+00,NaN,...,NaN,NaN,4.100000e+01,NaN,8.200000e+01,NaN,1.917000e+03,NaN,5.000000e+00,0.000000e+00
max,NaN,NaN,NaN,NaN,NaN,2.359000e+03,1.645000e+03,4.983000e+03,4.000000e+00,NaN,...,NaN,NaN,7.800000e+01,NaN,9.300000e+01,NaN,2.400000e+03,NaN,1.100000e+01,9.000000e+00

In [29]:
df.columns

Index(['Airline', 'Origin', 'Dest', 'Cancelled', 'Diverted', 'CRSDepTime',
       'CRSElapsedTime', 'Distance', 'Quarter', 'Marketing_Airline_Network',
       'Operated_or_Branded_Code_Share_Partners', 'DOT_ID_Marketing_Airline',
       'IATA_Code_Marketing_Airline', 'Flight_Number_Marketing_Airline',
       'Operating_Airline', 'DOT_ID_Operating_Airline',
       'IATA_Code_Operating_Airline', 'Flight_Number_Operating_Airline',
       'OriginAirportID', 'OriginAirportSeqID', 'OriginCityMarketID',
       'OriginCityName', 'OriginState', 'OriginStateFips', 'OriginStateName',
       'OriginWac', 'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID',
       'DestCityName', 'DestState', 'DestStateFips', 'DestStateName',
       'DestWac', 'DepTimeBlk', 'CRSArrTime', 'ArrTimeBlk', 'DistanceGroup',
       'DivAirportLandings'],
      dtype='object')

## Origin 관련 컬럼들

In [30]:
df_origin = df[['Origin','OriginAirportID', 'OriginAirportSeqID', 'OriginCityMarketID',
       'OriginCityName', 'OriginState', 'OriginStateFips', 'OriginStateName',
       'OriginWac']]

In [31]:
df_origin

,Origin,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac
0,ABY,10146,1014602,30146,"Albany, GA",GA,13,Georgia,34
1,ABY,10146,1014602,30146,"Albany, GA",GA,13,Georgia,34
2,ABY,10146,1014602,30146,"Albany, GA",GA,13,Georgia,34
3,ABY,10146,1014602,30146,"Albany, GA",GA,13,Georgia,34
4,ABY,10146,1014602,30146,"Albany, GA",GA,13,Georgia,34
...,...,...,...,...,...,...,...,...,...
5689507,SCE,14711,1471105,34711,"State College, PA",PA,42,Pennsylvania,23
5689508,IAD,12264,1226402,30852,"Washington, DC",VA,51,Virginia,38
5689509,EVV,11612,1161206,31612,"Evansville, IN",IN,18,Indiana,42
5689510,ORD,13930,1393006,30977,"Chicago, IL",IL,17,Illinois,41
5689511,HPN,12197,1219702,31703,"White Plains, NY",NY,36,New York,22

In [32]:
for i in df_origin.columns:
    print('column :' ,i)
    print(df_origin[i].unique())
    print('unique 개수 :', len(df_origin[i].unique()))
    print('')

column : Origin
['ABY' 'ATL' 'MOB' 'BUF' 'DFW' 'BTV' 'CVG' 'LGA' 'CHO' 'EWN' 'MCI' 'MGM'
 'MSP' 'DCA' 'FAY' 'OAJ' 'STL' 'CWA' 'DTW' 'RDU' 'SRQ' 'AEX' 'AUS' 'CSG'
 'EVV' 'IND' 'CLE' 'PIA' 'TRI' 'BGR' 'IAD' 'PWM' 'TYS' 'GSO' 'AVL' 'BTR'
 'MKE' 'CMH' 'GRR' 'GSP' 'BIS' 'ORD' 'ROC' 'CHA' 'TVC' 'FSM' 'JAX' 'BOS'
 'GRB' 'TUL' 'VLD' 'CRW' 'IAH' 'XNA' 'JAN' 'SAV' 'CHS' 'ROA' 'GFK' 'SYR'
 'MDT' 'SAT' 'BMI' 'LFT' 'BNA' 'PHL' 'BQK' 'ORF' 'GNV' 'OMA' 'TPA' 'BWI'
 'MEM' 'MBS' 'SDF' 'LEX' 'CLT' 'DAY' 'MOT' 'FAR' 'CAE' 'DSM' 'PIT' 'DHN'
 'MHT' 'ILM' 'SGF' 'ELM' 'BDL' 'MCO' 'RIC' 'SHV' 'MSY' 'HSV' 'TLH' 'LAN'
 'LIT' 'GRK' 'MSN' 'ATW' 'HRL' 'HPN' 'CAK' 'EWR' 'RSW' 'BQN' 'PBI' 'FLL'
 'SLC' 'PSE' 'JFK' 'SJC' 'LAS' 'LGB' 'LAX' 'SFO' 'SJU' 'HOU' 'DEN' 'SEA'
 'STT' 'PVD' 'PDX' 'SAN' 'RNO' 'ALB' 'PHX' 'OAK' 'PSP' 'SMF' 'STX' 'BUR'
 'SWF' 'DAB' 'ORH' 'ABQ' 'ELP' 'LCH' 'HOB' 'PNS' 'COS' 'ICT' 'CLL' 'OKC'
 'ECP' 'MFE' 'MYR' 'BHM' 'AGS' 'AZO' 'GPT' 'RST' 'VPS' 'EYW' 'PHF' 'ABE'
 'CID' 'LNK' 'MLI' 'SFB' 'BIL' 'FNT' 'MSO' 'IDA' 'SCK' 'TOL' 'FSD' 'HTS'
 'FAT' 'EUG' 'BLI' 'PGD' 'STC' 'PIE' 'PBG' 'SBN' 'OGS' 'USA' 'SPI' 'AZA'
 'PVU' 'MTJ' 'FWA' 'PSM' 'TTN' 'IAG' 'LCK' 'BLV' 'RFD' 'OGD' 'BOI' 'MFR'
 'GTF' 'PSC' 'GRI' 'MRY' 'GJT' 'LRD' 'RAP' 'FCA' 'SMX' 'BZN' 'HGR' 'CKB'
 'OWB' 'HNL' 'OGG' 'KOA' 'LIH' 'ITO' 'ACY' 'ONT' 'ACV' 'BFL' 'ASE' 'SUN'
 'TWF' 'GEG' 'RDM' 'TUS' 'DRO' 'SBA' 'RDD' 'COU' 'SNA' 'MMH' 'JAC' 'CPR'
 'SBP' 'MAF' 'ISN' 'STS' 'BRO' 'HDN' 'ITH' 'LWS' 'PIH' 'ABR' 'APN' 'ESC'
 'PLN' 'BJI' 'BRD' 'BTM' 'CDC' 'SGU' 'CIU' 'EKO' 'COD' 'HIB' 'BGM' 'MQT'
 'RHI' 'LSE' 'INL' 'DAL' 'GTR' 'SCE' 'ERI' 'IMT' 'DLH' 'MDW' 'HLN' 'AVP'
 'MLU' 'CMX' 'EAU' 'GCC' 'RKS' 'PUB' 'MKG' 'CGI' 'UIN' 'DVL' 'JMS' 'LAR'
 'HYS' 'PAH' 'EGE' 'OTH' 'AMA' 'ISP' 'MIA' 'PPG' 'MKK' 'LNY' 'JHM' 'LBE'
 'CRP' 'LBB' 'MLB' 'ANC' 'FAI' 'GUM' 'GUC' 'ADQ' 'BET' 'SCC' 'BRW' 'JNU'
 'KTN' 'SIT' 'PSG' 'WRG' 'OME' 'OTZ' 'YAK' 'CDV' 'ADK' 'SAF' 'DIK' 'CMI'
 'SPN' 'ROP' 'PUW' 'EAT' 'ALW' 'YKM' 'YNG' 'DUT' 'BFF' 'ACK' 'MVY' 'BKG'
 'TYR' 'SJT' 'BPT' 'SWO' 'LAW' 'ACT' 'FLG' 'YUM' 'ROW' 'MEI' 'PIB' 'LBF'
 'LWB' 'SHD' 'EAR' 'SLN' 'VEL' 'CNY' 'LBL' 'PRC' 'MHK' 'ABI' 'GCK' 'PGV'
 'HVN' 'LYH' 'PQI' 'HHH' 'GGG' 'SUX' 'TXK' 'DBQ' 'SBY' 'FLO' 'IPT' 'ART'
 'ALO' 'SPS' 'JLN' 'CYS' 'DRT' 'HYA' 'GST' 'AKN' 'DLG' 'WYS']
unique 개수 : 370

column : OriginAirportID
[10146 10397 13422 10792 11298 10785 11193 12953 10990 11617 13198 13277
 13487 11278 11641 13795 15016 11203 11433 14492 14986 10185 10423 11150
 11612 12339 11042 14108 15323 10581 12264 14321 15412 11995 10431 10781
 13342 11066 11986 11996 10627 13930 14576 10980 15380 11778 12451 10721
 11977 15370 15607 11146 12266 15919 12448 14685 10994 14574 11898 15096
 13230 14683 10685 12951 10693 14100 10731 13931 11953 13871 15304 10821
 13244 13184 14730 12945 11057 11267 13433 11637 10868 11423 14122 11308
 13296 12323 14783 11537 10529 13204 14524 14814 13495 12217 15249 12884
 12992 11982 13485 10408 12206 12197 10874 11618 14635 10732 14027 11697
 14869 14254 12478 14831 12889 12954 12892 14771 14843 12191 11292 14747
 15024 14307 14057 14679 14570 10257 14107 13796 14262 14893 15027 10800
 15070 11252 13933 10140 11540 12915 12177 14193 11109 12278 11049 13851
 11481 13256 13577 10599 10208 10469 11973 14633 15624 11624 14098 10135
 11003 13029 13367 14761 10620 11721 13486 12280 14716 15295 11775 12223
 11638 11603 10666 14082 15008 14112 14025 14696 13832 12544 14952 10466
 14314 13502 11823 14259 15356 12265 12917 10676 14512 13829 10713 13264
 12003 14252 11980 13476 11921 13061 14457 11648 14905 10849 12119 11027
 13983 12173 13830 12758 12982 12402 10158 13891 10157 10561 10372 15041
 15389 11884 14489 15376 11413 14689 14487 11111 14908 13388 12441 11122
 14698 13158 12389 15023 10747 12094 12397 13127 14113 10141 10333 11587
 14150 10631 10739 10779 10918 14794 11013 11525 11097 12129 10577 13459
 14520 13076 12343 11259 12007 14711 11577 12335 11337 13232 12156 10434
 13377 11076 11471 11865 14543 14288 13344 10967 15454 11447 12519 12888
 12255 14006 11503 13964 10279 12391 13303 14222 13347 13034 12492 12898
 11140 12896 13360 10299 11630 12016 12012 10170 10551 14709 10754 12523
 12819 14828 14256 15841 13873 13970 15991 10926 10165 14674 11315 11067
 14955 14582 14303 11470 10275 16101 16133 11445 10558 10154 13541 10643
 15411 14842 10728 15074 12891 10155 11695 16218 14588 13241 14109 12899
 13121 14802 11468 14877 15582 11092 12902 14237 13290 10136 11867 14092
 12244 13139 14231 12124 11905 15048 15401 11274 14704 11699 12365 10361
 10268 14960 12511 11233 11415 12250 11997 10245 11336 15897]
unique 개수 : 370

column : OriginAirportSeqID
[1014602 1039707 1342202 1079206 1129806 1078502 1119302 1295304 1099005
 1161708 1319801 1327702 1348702 1127805 1164102 1379502 1501606 1120302
 1143302 1449202 1498603 1018502 1042302 1115005 1161206 1233904 1104205
 1410803 1532305 1058102 1226402 1432105 1541205 1199502 1043105 1078105
 1334207 1106606 1198603 1199603 1062702 1393006 1457606 1098002 1538005
 1177801 1245102 1072102 1197705 1537002 1560702 1114606 1226603 1591904
 1244807 1468502 1099402 1457405 1189802 1509602 1323002 1468305 1068502
 1295106 1069302 1410005 1073103 1393102 1195302 1387102 1530402 1082106
 1324402 1318403 1473003 1294503 1105703 1126702 1343302 1163703 1086803
 1142306 1412202 1130802 1329604 1232305 1478302 1153705 1052906 1320402
 1452401 1481402 1349505 1221702 1524906 1288403 1299206 1198202 1348502
 1040805 1220605 1219702 1087402 1161802 1463502 1073203 1402702 1169706
 1486903 1425404 1247805 1483106 1288903 1295406 1289208 1477104 1484306
 1219102 1129202 1474703 1502403 1430705 1405702 1467903 1457002 1025702
 1410702 1379608 1426204 1489302 1502704 1080003 1507002 1125203 1393305
 1014005 1154005 1291503 1217705 1419306 1110902 1227805 1104902 1385103
 1148102 1325602 1357702 1059904 1020803 1046902 1197302 1463303 1562404
 1162402 1409803 1013505 1100303 1302902 1336705 1476106 1062003 1172105
 1348602 1228002 1471602 1529502 1177502 1222305 1163807 1160302 1066602
 1408202 1500802 1411206 1402501 1469608 1383205 1254403 1495203 1046602
 1431402 1350202 1182304 1425902 1535602 1226505 1291703 1067602 1451202
 1382902 1071302 1326403 1200305 1425202 1198002 1347605 1192102 1306106
 1445702 1164802 1490505 1084905 1211902 1102705 1398305 1217305 1383002
 1275804 1298202 1240203 1015804 1389101 1015706 1056103 1037205 1504102
 1538902 1188402 1448902 1537602 1141306 1468902 1448702 1111105 1490803
 1338801 1244102 1112205 1469802 1315805 1238902 1502305 1074705 1209402
 1239702 1312702 1411302 1014106 1033302 1158702 1415002 1063104 1073907
 1077902 1091802 1479405 1101303 1152505 1109702 1212903 1057705 1345902
 1452002 1307605 1234305 1125903 1200704 1471105 1157706 1233502 1133703
 1323202 1215605 1043405 1337702 1107602 1147103 1186502 1454302 1428805
 1334402 1096702 1545405 1144705 1251902 1288802 1225502 1400602 1150305
 1396403 1027903 1239102 1330303 1422206 1334702 1303402 1249202 1289806
 1114008 1289607 1336003 1029906 1163002 1201602 1201205 1017004 1055102
 1470904 1075405 1252306 1281902 1482805 1425605 1584102 1387305 1397005
 1599102 1092603 1016506 1467402 1131502 1106702 1495503 1458209 1430302
 1147005 1027505 1610102 1613305 1144505 1055803 1393007 1537604 1125904
 1295407 1015405 1354102 1142307 1239103 1064301 1541106 1484202 1072804
 1507402 1289102 1015502 1074706 1345903 1169502 1621802 1458804 1324102
 1410902 1289902 1312102 1480202 1334403 1146802 1487706 1558203 1109203
 1454303 1290205 1423705 1500803 1329002 1013603 1186703 1409205 1224402
 1313902 1423102 1212402 1190502 1504803 1540103 1127402 1470405 1169902
 1236504 1036105 1026802 1496002 1251103 1123302 1141501 1224403 1537603
 1225002 1109202 1199702 1024502 1133602 1621801 1541105 1589702]
unique 개수 : 386

column : OriginCityMarketID
[30146 30397 30562 30792 30194 30785 33105 31703 30990 31617 33198 33277
 31650 30852 31641 33795 31123 30424 31295 34492 34986 30185 30423 31150
 31612 32337 30647 34108 35323 30581 34321 35412 31995 30431 30781 33342
 31066 31986 31871 30627 30977 34576 30980 35380 31778 31136 30721 31977
 34653 35550 31146 31453 31834 32448 34685 30994 34574 31898 35096 32070
 33214 30685 32951 30693 34100 30731 33667 31953 33316 33195 33244 33184
 33044 32945 31057 31267 33304 31637 30868 31423 30198 31308 32323 34783
 31537 30529 31454 34524 30476 33495 30255 35249 32884 32600 31982 33485
 30408 32206 31714 30732 34027 32467 34614 34254 32457 32211 32575 34819
 30325 30559 34945 34057 33570 34570 30257 30466 34262 33192 34992 31252
 33933 30140 30615 31205 32177 33728 30189 30928 31049 33851 31481 33256
 31135 30599 30208 30469 31973 32547 31504 31624 30135 31003 33029 33367
 34761 30620 31721 33486 32280 34716 35165 31775 32223 31638 31603 30666
 34082 32556 34025 34696 33832 32544 34952 34314 33502 31823 34259 35356
 32265 30676 34512 32131 30713 33264 31895 34252 31980 34922 31921 33038
 34457 31648 34905 30849 32119 31027 33983 32134 33830 32758 32982 32402
 30158 30157 30561 30372 35041 35389 31884 34489 30436 30285 34689 33792
 32474 33388 32441 31122 34236 33158 32389 34433 30747 34699 32397 33127
 34113 30141 30333 31587 34150 30631 30739 30779 30918 34794 31013 31525
 31097 32129 30577 33459 34520 33076 32343 30894 34711 31577 32335 31337
 32156 30434 33377 31076 31471 31865 34543 34288 33344 30967 35454 31447
 32519 32888 32255 34006 31503 33964 30279 34222 33347 33034 32492 32898
 31140 32896 33360 30299 31517 32016 32012 30070 30113 30073 30107 32523
 31401 34828 34256 35841 33873 33970 35991 30913 30165 34674 31315 31067
 34955 34582 34303 31470 30275 36101 36133 31445 30558 30154 33541 30643
 35411 34842 30728 35074 32891 30155 31695 33785 34588 33241 34109 32899
 33121 34802 31468 34877 35582 31092 32902 34237 33290 30136 31867 34092
 32244 33139 34231 32124 31905 35048 35401 31274 34704 31699 32365 30361
 30268 34960 32511 31233 31335 32250 31997 30245 31336 35897]

unique 개수 : 346

column : OriginCityName
['Albany, GA' 'Atlanta, GA' 'Mobile, AL' 'Buffalo, NY'
 'Dallas/Fort Worth, TX' 'Burlington, VT' 'Cincinnati, OH' 'New York, NY'
 'Charlottesville, VA' 'New Bern/Morehead/Beaufort, NC' 'Kansas City, MO'
 'Montgomery, AL' 'Minneapolis, MN' 'Washington, DC' 'Fayetteville, NC'
 'Jacksonville/Camp Lejeune, NC' 'St. Louis, MO' 'Mosinee, WI'
 'Detroit, MI' 'Raleigh/Durham, NC' 'Sarasota/Bradenton, FL'
 'Alexandria, LA' 'Austin, TX' 'Columbus, GA' 'Evansville, IN'
 'Indianapolis, IN' 'Cleveland, OH' 'Peoria, IL'
 'Bristol/Johnson City/Kingsport, TN' 'Bangor, ME' 'Portland, ME'
 'Knoxville, TN' 'Greensboro/High Point, NC' 'Asheville, NC'
 'Baton Rouge, LA' 'Milwaukee, WI' 'Columbus, OH' 'Grand Rapids, MI'
 'Greer, SC' 'Bismarck/Mandan, ND' 'Chicago, IL' 'Rochester, NY'
 'Chattanooga, TN' 'Traverse City, MI' 'Fort Smith, AR' 'Jacksonville, FL'
 'Boston, MA' 'Green Bay, WI' 'Tulsa, OK' 'Valdosta, GA'
 'Charleston/Dunbar, WV' 'Houston, TX' 'Fayetteville, AR'
 'Jackson/Vicksburg, MS' 'Savannah, GA' 'Charleston, SC' 'Roanoke, VA'
 'Grand Forks, ND' 'Syracuse, NY' 'Harrisburg, PA' 'San Antonio, TX'
 'Bloomington/Normal, IL' 'Lafayette, LA' 'Nashville, TN'
 'Philadelphia, PA' 'Brunswick, GA' 'Norfolk, VA' 'Gainesville, FL'
 'Omaha, NE' 'Tampa, FL' 'Baltimore, MD' 'Memphis, TN'
 'Saginaw/Bay City/Midland, MI' 'Louisville, KY' 'Lexington, KY'
 'Charlotte, NC' 'Dayton, OH' 'Minot, ND' 'Fargo, ND' 'Columbia, SC'
 'Des Moines, IA' 'Pittsburgh, PA' 'Dothan, AL' 'Manchester, NH'
 'Wilmington, NC' 'Springfield, MO' 'Elmira/Corning, NY' 'Hartford, CT'
 'Orlando, FL' 'Richmond, VA' 'Shreveport, LA' 'New Orleans, LA'
 'Huntsville, AL' 'Tallahassee, FL' 'Lansing, MI' 'Little Rock, AR'
 'Killeen, TX' 'Madison, WI' 'Appleton, WI' 'Harlingen/San Benito, TX'
 'White Plains, NY' 'Akron, OH' 'Newark, NJ' 'Fort Myers, FL'
 'Aguadilla, PR' 'West Palm Beach/Palm Beach, FL' 'Fort Lauderdale, FL'
 'Salt Lake City, UT' 'Ponce, PR' 'San Jose, CA' 'Las Vegas, NV'
 'Long Beach, CA' 'Los Angeles, CA' 'San Francisco, CA' 'San Juan, PR'
 'Denver, CO' 'Seattle, WA' 'Charlotte Amalie, VI' 'Providence, RI'
 'Portland, OR' 'San Diego, CA' 'Reno, NV' 'Albany, NY' 'Phoenix, AZ'
 'Oakland, CA' 'Palm Springs, CA' 'Sacramento, CA' 'Christiansted, VI'
 'Burbank, CA' 'Newburgh/Poughkeepsie, NY' 'Daytona Beach, FL'
 'Worcester, MA' 'Albuquerque, NM' 'El Paso, TX' 'Lake Charles, LA'
 'Hobbs, NM' 'Pensacola, FL' 'Colorado Springs, CO' 'Wichita, KS'
 'College Station/Bryan, TX' 'Oklahoma City, OK' 'Panama City, FL'
 'Mission/McAllen/Edinburg, TX' 'Myrtle Beach, SC' 'Birmingham, AL'
 'Augusta, GA' 'Kalamazoo, MI' 'Gulfport/Biloxi, MS' 'Rochester, MN'
 'Valparaiso, FL' 'Key West, FL' 'Newport News/Williamsburg, VA'
 'Allentown/Bethlehem/Easton, PA' 'Cedar Rapids/Iowa City, IA'
 'Lincoln, NE' 'Moline, IL' 'Sanford, FL' 'Billings, MT' 'Flint, MI'
 'Missoula, MT' 'Idaho Falls, ID' 'Stockton, CA' 'Toledo, OH'
 'Sioux Falls, SD' 'Ashland, WV' 'Fresno, CA' 'Eugene, OR'
 'Bellingham, WA' 'Punta Gorda, FL' 'St. Cloud, MN' 'St. Petersburg, FL'
 'Plattsburgh, NY' 'South Bend, IN' 'Ogdensburg, NY' 'Concord, NC'
 'Springfield, IL' 'Provo, UT' 'Montrose/Delta, CO' 'Fort Wayne, IN'
 'Portsmouth, NH' 'Trenton, NJ' 'Niagara Falls, NY' 'Belleville, IL'
 'Rockford, IL' 'Ogden, UT' 'Boise, ID' 'Medford, OR' 'Great Falls, MT'
 'Pasco/Kennewick/Richland, WA' 'Grand Island, NE' 'Monterey, CA'
 'Grand Junction, CO' 'Laredo, TX' 'Rapid City, SD' 'Kalispell, MT'
 'Santa Maria, CA' 'Bozeman, MT' 'Hagerstown, MD'
 'Clarksburg/Fairmont, WV' 'Owensboro, KY' 'Honolulu, HI' 'Kahului, HI'
 'Kona, HI' 'Lihue, HI' 'Hilo, HI' 'Atlantic City, NJ' 'Ontario, CA'
 'Arcata/Eureka, CA' 'Bakersfield, CA' 'Aspen, CO'
 'Sun Valley/Hailey/Ketchum, ID' 'Twin Falls, ID' 'Spokane, WA'
 'Bend/Redmond, OR' 'Tucson, AZ' 'Durango, CO' 'Santa Barbara, CA'
 'Redding, CA' 'Columbia, MO' 'Santa Ana, CA' 'Mammoth Lakes, CA'
 'Jackson, WY' 'Casper, WY' 'San Luis Obispo, CA' 'Midland/Odessa, TX'
 'Williston, ND' 'Santa Rosa, CA' 'Brownsville, TX' 'Hayden, CO'
 'Ithaca/Cortland, NY' 'Lewiston, ID' 'Pocatello, ID' 'Aberdeen, SD'
 'Alpena, MI' 'Escanaba, MI' 'Pellston, MI' 'Bemidji, MN' 'Brainerd, MN'
 'Butte, MT' 'Cedar City, UT' 'St. George, UT' 'Sault Ste. Marie, MI'
 'Elko, NV' 'Cody, WY' 'Hibbing, MN' 'Binghamton, NY' 'Marquette, MI'
 'Rhinelander, WI' 'La Crosse, WI' 'International Falls, MN' 'Dallas, TX'
 'Columbus, MS' 'State College, PA' 'Erie, PA' 'Iron Mountain/Kingsfd, MI'
 'Duluth, MN' 'Helena, MT' 'Scranton/Wilkes-Barre, PA' 'Monroe, LA'
 'Hancock/Houghton, MI' 'Eau Claire, WI' 'Gillette, WY' 'Rock Springs, WY'
 'Pueblo, CO' 'Muskegon, MI' 'Cape Girardeau, MO' 'Quincy, IL'
 'Devils Lake, ND' 'Jamestown, ND' 'Laramie, WY' 'Hays, KS' 'Paducah, KY'
 'Eagle, CO' 'North Bend/Coos Bay, OR' 'Amarillo, TX' 'Islip, NY'
 'Miami, FL' 'Pago Pago, TT' 'Hoolehua, HI' 'Lanai, HI' 'Kapalua, HI'
 'Latrobe, PA' 'Corpus Christi, TX' 'Lubbock, TX' 'Melbourne, FL'
 'Anchorage, AK' 'Fairbanks, AK' 'Guam, TT' 'Gunnison, CO' 'Kodiak, AK'
 'Bethel, AK' 'Deadhorse, AK' 'Barrow, AK' 'Juneau, AK' 'Ketchikan, AK'
 'Sitka, AK' 'Petersburg, AK' 'Wrangell, AK' 'Nome, AK' 'Kotzebue, AK'
 'Yakutat, AK' 'Cordova, AK' 'Adak Island, AK' 'Santa Fe, NM'
 'Dickinson, ND' 'Champaign/Urbana, IL' 'Saipan, TT' 'Rota, TT'
 'Pullman, WA' 'Wenatchee, WA' 'Walla Walla, WA' 'Yakima, WA'
 'Youngstown/Warren, OH' 'Unalaska, AK' 'Scottsbluff, NE' 'Nantucket, MA'
 "Martha's Vineyard, MA" 'Branson, MO' 'Tyler, TX' 'San Angelo, TX'
 'Beaumont/Port Arthur, TX' 'Stillwater, OK' 'Lawton/Fort Sill, OK'
 'Waco, TX' 'Flagstaff, AZ' 'Yuma, AZ' 'Roswell, NM' 'Meridian, MS'
 'Hattiesburg/Laurel, MS' 'North Platte, NE' 'Lewisburg, WV'
 'Staunton, VA' 'Kearney, NE' 'Salina, KS' 'Vernal, UT' 'Moab, UT'
 'Liberal, KS' 'Prescott, AZ' 'Manhattan/Ft. Riley, KS' 'Abilene, TX'
 'Garden City, KS' 'Greenville, NC' 'New Haven, CT' 'Lynchburg, VA'
 'Presque Isle/Houlton, ME' 'Hilton Head, SC' 'Longview, TX'
 'Sioux City, IA' 'Texarkana, AR' 'Dubuque, IA' 'Salisbury, MD'
 'Florence, SC' 'Williamsport, PA' 'Watertown, NY' 'Waterloo, IA'
 'Wichita Falls, TX' 'Joplin, MO' 'Cheyenne, WY' 'Del Rio, TX'
 'Hyannis, MA' 'Gustavus, AK' 'King Salmon, AK' 'Dillingham, AK'
 'West Yellowstone, MT']
unique 개수 : 364

column : OriginState
['GA' 'AL' 'NY' 'TX' 'VT' 'KY' 'VA' 'NC' 'MO' 'MN' 'WI' 'MI' 'FL' 'LA'
 'IN' 'OH' 'IL' 'TN' 'ME' 'SC' 'ND' 'AR' 'MA' 'OK' 'WV' 'MS' 'PA' 'NE'
 'MD' 'IA' 'NH' 'CT' 'NJ' 'PR' 'UT' 'CA' 'NV' 'CO' 'WA' 'VI' 'RI' 'OR'
 'AZ' 'NM' 'KS' 'MT' 'ID' 'SD' 'HI' 'WY' 'TT' 'AK']
unique 개수 : 52

column : OriginStateFips
[13  1 36 48 50 21 51 37 29 27 55 26 12 22 18 39 17 47 23 45 38  5 25 40
 54 28 42 31 24 19 33  9 34 72 49  6 32  8 53 78 44 41  4 35 20 30 16 46
 15 56 75  2]
unique 개수 : 52

column : OriginStateName
['Georgia' 'Alabama' 'New York' 'Texas' 'Vermont' 'Kentucky' 'Virginia'
 'North Carolina' 'Missouri' 'Minnesota' 'Wisconsin' 'Michigan' 'Florida'
 'Louisiana' 'Indiana' 'Ohio' 'Illinois' 'Tennessee' 'Maine'
 'South Carolina' 'North Dakota' 'Arkansas' 'Massachusetts' 'Oklahoma'
 'West Virginia' 'Mississippi' 'Pennsylvania' 'Nebraska' 'Maryland' 'Iowa'
 'New Hampshire' 'Connecticut' 'New Jersey' 'Puerto Rico' 'Utah'
 'California' 'Nevada' 'Colorado' 'Washington' 'U.S. Virgin Islands'
 'Rhode Island' 'Oregon' 'Arizona' 'New Mexico' 'Kansas' 'Montana' 'Idaho'
 'South Dakota' 'Hawaii' 'Wyoming'
 'U.S. Pacific Trust Territories and Possessions' 'Alaska']
unique 개수 : 52

column : OriginWac
[34 51 22 74 16 52 38 36 64 63 45 43 33 72 42 44 41 54 12 37 66 71 13 73
 39 53 23 65 35 61 14 11 21  3 87 91 85 82 93  4 15 92 81 86 62 84 83 67
  2 88  5  1]
unique 개수 : 52

### Origin -> OriginAirportID 인코딩 됨
### OriginState, OriginStateFips, OriginStateName -> OriginWac 인코딩 됨
### OriginCityName -> OriginWac 안에 범주 간소화 되어 인코딩 됨

In [33]:
df = df.drop(columns = ['Origin', 'OriginState', 'OriginStateFips', 'OriginStateName' , 'OriginCityName'])

In [34]:
df_origin = df_origin.drop(columns = ['Origin', 'OriginState', 'OriginStateFips', 'OriginStateName' , 'OriginCityName'])

In [35]:
df_origin['Cancelled'] = df['Cancelled']

In [36]:
df_origin.corr()

,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginWac,Cancelled
OriginAirportID,1.000000,1.000000,0.610361,0.259501,-0.009992
OriginAirportSeqID,1.000000,1.000000,0.610361,0.259501,-0.009992
OriginCityMarketID,0.610361,0.610361,1.000000,0.077243,-0.001515
OriginWac,0.259501,0.259501,0.077243,1.000000,-0.038613
Cancelled,-0.009992,-0.009992,-0.001515,-0.038613,1.000000

### 상관계수 제일 높은 OriginWac만 채택

In [37]:
df = df.drop(columns = ['OriginAirportID','OriginAirportSeqID','OriginCityMarketID'])

In [38]:
df

,Airline,Dest,Cancelled,Diverted,CRSDepTime,CRSElapsedTime,Distance,Quarter,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,...,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepTimeBlk,CRSArrTime,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,Endeavor Air Inc.,ATL,False,False,1202,62.0,145.0,1,DL,DL_CODESHARE,...,"Atlanta, GA",GA,13,Georgia,34,1200-1259,1304,1300-1359,1,0.0
1,Endeavor Air Inc.,ATL,False,False,1202,62.0,145.0,1,DL,DL_CODESHARE,...,"Atlanta, GA",GA,13,Georgia,34,1200-1259,1304,1300-1359,1,0.0
2,Endeavor Air Inc.,ATL,False,False,1202,62.0,145.0,1,DL,DL_CODESHARE,...,"Atlanta, GA",GA,13,Georgia,34,1200-1259,1304,1300-1359,1,0.0
3,Endeavor Air Inc.,ATL,False,False,1202,62.0,145.0,1,DL,DL_CODESHARE,...,"Atlanta, GA",GA,13,Georgia,34,1200-1259,1304,1300-1359,1,0.0
4,Endeavor Air Inc.,ATL,False,False,1400,60.0,145.0,1,DL,DL_CODESHARE,...,"Atlanta, GA",GA,13,Georgia,34,1400-1459,1500,1500-1559,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5689507,Air Wisconsin Airlines Corp,IAD,False,False,1445,61.0,133.0,3,UA,UA_CODESHARE,...,"Washington, DC",VA,51,Virginia,38,1400-1459,1546,1500-1559,1,0.0
5689508,Air Wisconsin Airlines Corp,GSO,False,False,1235,80.0,239.0,3,UA,UA_CODESHARE,...,"Greensboro/High Point, NC",NC,37,North Carolina,36,1200-1259,1355,1300-1359,1,0.0
5689509,Air Wisconsin Airlines Corp,ORD,False,False,1030,94.0,272.0,3,UA,UA_CODESHARE,...,"Chicago, IL",IL,17,Illinois,41,1000-1059,1204,1200-1259,2,0.0
5689510,Air Wisconsin Airlines Corp,HPN,False,False,1410,136.0,738.0,3,UA,UA_CODESHARE,...,"White Plains, NY",NY,36,New York,22,1400-1459,1726,1700-1759,3,0.0
5689511,Air Wisconsin Airlines Corp,ORD,False,False,1800,153.0,738.0,3,UA,UA_CODESHARE,...,"Chicago, IL",IL,17,Illinois,41,1800-1859,1933,1900-1959,3,0.0

## destination 관련 컬럼들

In [39]:
df_dest = df[['Dest', 'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID',
       'DestCityName', 'DestState', 'DestStateFips', 'DestStateName',
       'DestWac']]

In [40]:
df_dest

,Dest,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac
0,ATL,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34
1,ATL,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34
2,ATL,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34
3,ATL,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34
4,ATL,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34
...,...,...,...,...,...,...,...,...,...
5689507,IAD,12264,1226402,30852,"Washington, DC",VA,51,Virginia,38
5689508,GSO,11995,1199502,31995,"Greensboro/High Point, NC",NC,37,North Carolina,36
5689509,ORD,13930,1393006,30977,"Chicago, IL",IL,17,Illinois,41
5689510,HPN,12197,1219702,31703,"White Plains, NY",NY,36,New York,22
5689511,ORD,13930,1393006,30977,"Chicago, IL",IL,17,Illinois,41

In [41]:
for i in df_dest.columns:
    print('column :' ,i)
    print(df_dest[i].unique())
    print('unique 개수 :', len(df_dest[i].unique()))
    print('')

column : Dest
['ATL' 'ABY' 'MOB' 'EVV' 'DTW' 'OAJ' 'BOS' 'SYR' 'EWN' 'MGM' 'LGA' 'MSP'
 'CLE' 'CLT' 'FAY' 'JFK' 'STL' 'CMH' 'IND' 'TYS' 'CWA' 'AEX' 'GRK' 'SAT'
 'PIA' 'IAH' 'DFW' 'RIC' 'PWM' 'AZO' 'CVG' 'TRI' 'IAD' 'AVL' 'BTR' 'BUF'
 'GRR' 'BIS' 'CHA' 'TVC' 'FSM' 'BTV' 'MCI' 'GRB' 'TUL' 'VLD' 'CRW' 'XNA'
 'ROC' 'SAV' 'ROA' 'MDT' 'MSY' 'BNA' 'RDU' 'MKE' 'GNV' 'TPA' 'GSO' 'CHO'
 'BGR' 'GFK' 'BQK' 'MEM' 'ILM' 'BMI' 'ORF' 'MHT' 'DAY' 'GSP' 'LEX' 'SDF'
 'BDL' 'MBS' 'MOT' 'CAE' 'CSG' 'DSM' 'DHN' 'ELM' 'PIT' 'JAX' 'DCA' 'ORD'
 'SGF' 'SHV' 'HSV' 'OMA' 'TLH' 'MSN' 'LAN' 'BWI' 'CHS' 'LIT' 'RSW' 'MCO'
 'FAR' 'ATW' 'CAK' 'HRL' 'HPN' 'PHL' 'MLI' 'BQN' 'SFO' 'EWR' 'FLL' 'SLC'
 'PSE' 'SJC' 'LGB' 'LAS' 'LAX' 'PBI' 'SJU' 'SRQ' 'AUS' 'SWF' 'DEN' 'SEA'
 'HOU' 'PVD' 'SMF' 'STT' 'PDX' 'ORH' 'SAN' 'RNO' 'ALB' 'PHX' 'OAK' 'PSP'
 'STX' 'BUR' 'DAB' 'ABQ' 'BRO' 'ELP' 'OKC' 'GPT' 'SBN' 'MFE' 'LCH' 'LFT'
 'MYR' 'RST' 'LNK' 'BHM' 'AGS' 'JAN' 'CID' 'ECP' 'VPS' 'EYW' 'ABE' 'SFB'
 'BIL' 'FNT' 'MSO' 'IDA' 'SCK' 'TOL' 'FSD' 'HTS' 'FAT' 'EUG' 'BLI' 'PGD'
 'STC' 'PIE' 'PBG' 'OGS' 'USA' 'SPI' 'PVU' 'AZA' 'MTJ' 'FWA' 'PSM' 'TTN'
 'IAG' 'LCK' 'BLV' 'RFD' 'OGD' 'BOI' 'MFR' 'GTF' 'PSC' 'ICT' 'GRI' 'MRY'
 'GJT' 'LRD' 'RAP' 'FCA' 'SMX' 'BZN' 'HGR' 'CKB' 'COS' 'OWB' 'HNL' 'OGG'
 'KOA' 'LIH' 'ITO' 'COU' 'CPR' 'AVP' 'TUS' 'RDM' 'SBA' 'ASE' 'ONT' 'HLN'
 'SUN' 'DRO' 'ISN' 'ACV' 'SBP' 'MMH' 'GEG' 'JAC' 'STS' 'SNA' 'RDD' 'BFL'
 'HDN' 'MAF' 'ITH' 'LWS' 'PIH' 'ABR' 'COD' 'APN' 'ESC' 'PLN' 'BJI' 'BRD'
 'BTM' 'CDC' 'SGU' 'CIU' 'MQT' 'EKO' 'HIB' 'BGM' 'TWF' 'RHI' 'INL' 'IMT'
 'DAL' 'GTR' 'MLU' 'SCE' 'ERI' 'LSE' 'DLH' 'MDW' 'MKG' 'PUB' 'CMX' 'PAH'
 'UIN' 'RKS' 'JMS' 'DVL' 'LAR' 'GCC' 'EAU' 'HYS' 'EGE' 'CGI' 'OTH' 'AMA'
 'MIA' 'ISP' 'PPG' 'MKK' 'LNY' 'JHM' 'ACY' 'LBE' 'LBB' 'PNS' 'CRP' 'MLB'
 'FAI' 'ANC' 'PHF' 'GUM' 'GUC' 'BET' 'ADQ' 'SCC' 'BRW' 'KTN' 'JNU' 'SIT'
 'PSG' 'WRG' 'OME' 'OTZ' 'YAK' 'CDV' 'ADK' 'YKM' 'SAF' 'CMI' 'DIK' 'SPN'
 'ROP' 'ALW' 'EAT' 'PUW' 'CLL' 'HOB' 'YNG' 'DUT' 'BFF' 'ACK' 'MVY' 'BKG'
 'TYR' 'SJT' 'SPS' 'BPT' 'LAW' 'ACT' 'FLG' 'YUM' 'MEI' 'PIB' 'ROW' 'EAR'
 'CNY' 'VEL' 'LWB' 'SHD' 'SLN' 'LBL' 'LBF' 'PRC' 'ABI' 'MHK' 'TXK' 'LYH'
 'PGV' 'HVN' 'PQI' 'HHH' 'GGG' 'ALO' 'SUX' 'DBQ' 'GCK' 'SBY' 'IPT' 'FLO'
 'SWO' 'JLN' 'ART' 'CYS' 'DRT' 'HYA' 'DLG' 'AKN' 'GST' 'WYS']
unique 개수 : 370

column : DestAirportID
[10397 10146 13422 11612 11433 13795 10721 15096 11617 13277 12953 13487
 11042 11057 11641 12478 15016 11066 12339 15412 11203 10185 11982 14683
 14108 12266 11298 14524 14321 10469 11193 15323 12264 10431 10781 10792
 11986 10627 10980 15380 11778 10785 13198 11977 15370 15607 11146 15919
 14576 14685 14574 13230 13495 10693 14492 13342 11953 15304 11995 10990
 10581 11898 10731 13244 12323 10685 13931 13296 11267 11996 12945 14730
 10529 13184 13433 10868 11150 11423 11308 11537 14122 12451 11278 13930
 14783 14814 12217 13871 15249 13485 12884 10821 10994 12992 14635 13204
 11637 10408 10874 12206 12197 14100 13367 10732 14771 11618 11697 14869
 14254 14831 12954 12889 12892 14027 14843 14986 10423 15070 11292 14747
 12191 14307 14893 15024 14057 13933 14679 14570 10257 14107 13796 14262
 15027 10800 11252 10140 10747 11540 13851 11973 14696 13256 12915 12951
 13577 14633 13029 10599 10208 12448 11003 11481 15624 11624 10135 14761
 10620 11721 13486 12280 14716 15295 11775 12223 11638 11603 10666 14082
 15008 14112 14025 13832 12544 14952 14314 10466 13502 11823 14259 15356
 12265 12917 10676 14512 13829 10713 13264 12003 14252 12278 11980 13476
 11921 13061 14457 11648 14905 10849 12119 11027 11109 13983 12173 13830
 12758 12982 12402 11111 11122 10434 15376 14489 14689 10372 13891 12156
 15041 11413 12389 10157 14698 13388 11884 12441 15023 14908 14487 10561
 12094 13158 12397 13127 14113 10141 11097 10333 11587 14150 10631 10739
 10779 10918 14794 11013 13459 11525 12129 10577 15389 14520 12343 12335
 11259 12007 13377 14711 11577 13076 11337 13232 13344 14288 11076 14006
 15454 14543 12519 11447 12888 11865 11471 12255 11503 10967 13964 10279
 13303 12391 14222 13347 13034 12492 10158 12898 12896 14193 11140 13360
 11630 10299 14098 12016 12012 10551 10170 14709 10754 12819 12523 14828
 14256 15841 13873 13970 15991 10926 10165 16101 14674 11067 11315 14955
 14582 10275 11470 14303 11049 12177 16133 11445 10558 10154 13541 10643
 15411 14842 14960 10728 12891 10155 11695 16218 13241 14109 14588 11468
 11092 15582 13121 14802 14877 12902 12899 14237 10136 13290 15401 13139
 14092 12244 14231 12124 11905 10268 15048 11274 11867 14704 12365 11699
 15074 12511 10361 11233 11415 12250 11336 10245 11997 15897]
unique 개수 : 370

column : DestAirportSeqID
[1039707 1014602 1342202 1161206 1143302 1379502 1072102 1509602 1161708
 1327702 1295304 1348702 1104205 1105703 1164102 1247805 1501606 1106606
 1233904 1541205 1120302 1018502 1198202 1468305 1410803 1226603 1129806
 1452401 1432105 1046902 1119302 1532305 1226402 1043105 1078105 1079206
 1198603 1062702 1098002 1538005 1177801 1078502 1319801 1197705 1537002
 1560702 1114606 1591904 1457606 1468502 1457405 1323002 1349505 1069302
 1449202 1334207 1195302 1530402 1199502 1099005 1058102 1189802 1073103
 1324402 1232305 1068502 1393102 1329604 1126702 1199603 1294503 1473003
 1052906 1318403 1343302 1086803 1115005 1142306 1130802 1153705 1412202
 1245102 1127805 1393006 1478302 1481402 1221702 1387102 1524906 1348502
 1288403 1082106 1099402 1299206 1463502 1320402 1163703 1040805 1087402
 1220605 1219702 1410005 1336705 1073203 1477104 1161802 1169706 1486903
 1425404 1483106 1295406 1288903 1289208 1402702 1484306 1498603 1042302
 1507002 1129202 1474703 1219102 1430705 1489302 1502403 1405702 1393305
 1467903 1457002 1025702 1410702 1379608 1426204 1502704 1080003 1125203
 1014005 1074705 1154005 1385103 1197302 1469608 1325602 1291503 1295106
 1357702 1463303 1302902 1059904 1020803 1244807 1100303 1148102 1562404
 1162402 1013505 1476106 1062003 1172105 1348602 1228002 1471602 1529502
 1177502 1222305 1163807 1160302 1066602 1408202 1500802 1411206 1402501
 1383205 1254403 1495203 1431402 1046602 1350202 1182304 1425902 1535602
 1226505 1291703 1067602 1451202 1382902 1071302 1326403 1200305 1425202
 1227805 1198002 1347605 1192102 1306106 1445702 1164802 1490505 1084905
 1211902 1102705 1110902 1398305 1217305 1383002 1275804 1298202 1240203
 1111105 1112205 1043405 1537602 1448902 1468902 1037205 1389101 1215605
 1504102 1141306 1238902 1015706 1469802 1338801 1188402 1244102 1502305
 1490803 1448702 1056103 1209402 1315805 1239702 1312702 1411302 1014106
 1109702 1033302 1158702 1415002 1063104 1073907 1077902 1091802 1479405
 1101303 1345902 1152505 1212903 1057705 1538902 1452002 1234305 1233502
 1125903 1200704 1337702 1471105 1157706 1307605 1133703 1323202 1334402
 1428805 1107602 1400602 1545405 1454302 1251902 1144705 1288802 1186502
 1147103 1225502 1150305 1096702 1396403 1027903 1330303 1239102 1422206
 1334702 1303402 1249202 1015804 1289806 1289607 1419306 1114008 1336003
 1163002 1029906 1409803 1201602 1201205 1055102 1017004 1470904 1075405
 1281902 1252306 1482805 1425605 1584102 1387305 1397005 1599102 1092603
 1016506 1610102 1467402 1106702 1131502 1495503 1458209 1027505 1147005
 1430302 1104902 1217705 1613305 1144505 1055803 1393007 1537604 1125904
 1295407 1015405 1354102 1142307 1239103 1064301 1541106 1484202 1496002
 1072804 1289102 1015502 1074706 1345903 1169502 1621802 1324102 1410902
 1458804 1146802 1109203 1558203 1312102 1480202 1487706 1334403 1290205
 1454303 1289902 1423705 1500803 1013603 1329002 1540103 1313902 1409205
 1224402 1423102 1212402 1190502 1026802 1504803 1127402 1186703 1470405
 1236504 1169902 1507402 1251103 1036105 1123302 1141501 1224403 1537603
 1225002 1109202 1133602 1024502 1199702 1621801 1541105 1589702]
unique 개수 : 386

column : DestCityMarketID
[30397 30146 30562 31612 31295 33795 30721 35096 31617 33277 31703 31650
 30647 31057 31641 31123 31066 32337 35412 30424 30185 31982 33214 34108
 31453 30194 34524 34321 30469 33105 35323 30852 30431 30781 30792 31986
 30627 30980 35380 31778 30785 33198 31977 34653 35550 31146 31834 34576
 34685 34574 32070 33495 30693 34492 33342 31953 33195 31995 30990 30581
 31898 30731 33244 32323 30685 33667 31267 31871 32945 33044 30529 33184
 33304 30868 31150 31423 31308 31537 30198 31136 30977 34783 30476 30255
 33316 35249 33485 32884 30994 32600 31714 31454 31637 30408 32206 34100
 33367 30732 32457 32467 34614 34254 32575 32211 34027 34819 34986 30423
 30325 30559 33192 34945 34057 33933 33570 34570 30257 30466 34262 34992
 31252 30140 30747 30615 33851 31973 34696 33256 31205 32951 31135 32547
 33029 30599 30208 32448 31003 31481 31504 31624 30135 34761 30620 31721
 33486 32280 34716 35165 31775 32223 31638 31603 30666 34082 32556 34025
 33832 32544 34952 34314 33502 31823 34259 35356 32265 30676 34512 32131
 30713 33264 31895 34252 30928 31980 34922 31921 33038 34457 31648 34905
 30849 32119 31027 30189 33983 32134 33830 32758 32982 32402 32474 31122
 30434 30436 34489 34689 30372 32156 35041 30285 32389 30157 34236 33388
 31884 32441 34433 33792 30561 34699 33158 32397 33127 34113 30141 31097
 30333 31587 34150 30631 30739 30779 30918 34794 31013 33459 31525 32129
 30577 35389 34520 32343 32335 30894 33377 34711 31577 33076 31337 33344
 34288 31076 34006 35454 34543 32519 31447 32888 31865 31471 32255 31503
 30967 33964 30279 34222 33347 33034 32492 30158 32898 32896 33728 31140
 33360 31517 30299 32016 32012 30113 30070 30073 30107 31401 32523 34828
 34256 35841 33873 33970 35991 30913 30165 36101 34674 31067 31315 34955
 34582 30275 31470 34303 31049 32177 36133 31445 30558 30154 33541 30643
 35411 34842 34960 30728 32891 30155 31695 33785 33241 34109 34588 31468
 31092 35582 33121 34802 34877 32902 32899 34237 30136 33290 35401 33139
 34092 32244 34231 32124 31905 30268 35048 31274 31867 34704 32365 31699
 35074 32511 30361 31233 31335 32250 31336 30245 31997 35897]

unique 개수 : 346

column : DestCityName
['Atlanta, GA' 'Albany, GA' 'Mobile, AL' 'Evansville, IN' 'Detroit, MI'
 'Jacksonville/Camp Lejeune, NC' 'Boston, MA' 'Syracuse, NY'
 'New Bern/Morehead/Beaufort, NC' 'Montgomery, AL' 'New York, NY'
 'Minneapolis, MN' 'Cleveland, OH' 'Charlotte, NC' 'Fayetteville, NC'
 'St. Louis, MO' 'Columbus, OH' 'Indianapolis, IN' 'Knoxville, TN'
 'Mosinee, WI' 'Alexandria, LA' 'Killeen, TX' 'San Antonio, TX'
 'Peoria, IL' 'Houston, TX' 'Dallas/Fort Worth, TX' 'Richmond, VA'
 'Portland, ME' 'Kalamazoo, MI' 'Cincinnati, OH'
 'Bristol/Johnson City/Kingsport, TN' 'Washington, DC' 'Asheville, NC'
 'Baton Rouge, LA' 'Buffalo, NY' 'Grand Rapids, MI' 'Bismarck/Mandan, ND'
 'Chattanooga, TN' 'Traverse City, MI' 'Fort Smith, AR' 'Burlington, VT'
 'Kansas City, MO' 'Green Bay, WI' 'Tulsa, OK' 'Valdosta, GA'
 'Charleston/Dunbar, WV' 'Fayetteville, AR' 'Rochester, NY' 'Savannah, GA'
 'Roanoke, VA' 'Harrisburg, PA' 'New Orleans, LA' 'Nashville, TN'
 'Raleigh/Durham, NC' 'Milwaukee, WI' 'Gainesville, FL' 'Tampa, FL'
 'Greensboro/High Point, NC' 'Charlottesville, VA' 'Bangor, ME'
 'Grand Forks, ND' 'Brunswick, GA' 'Memphis, TN' 'Wilmington, NC'
 'Bloomington/Normal, IL' 'Norfolk, VA' 'Manchester, NH' 'Dayton, OH'
 'Greer, SC' 'Lexington, KY' 'Louisville, KY' 'Hartford, CT'
 'Saginaw/Bay City/Midland, MI' 'Minot, ND' 'Columbia, SC' 'Columbus, GA'
 'Des Moines, IA' 'Dothan, AL' 'Elmira/Corning, NY' 'Pittsburgh, PA'
 'Jacksonville, FL' 'Chicago, IL' 'Springfield, MO' 'Shreveport, LA'
 'Huntsville, AL' 'Omaha, NE' 'Tallahassee, FL' 'Madison, WI'
 'Lansing, MI' 'Baltimore, MD' 'Charleston, SC' 'Little Rock, AR'
 'Fort Myers, FL' 'Orlando, FL' 'Fargo, ND' 'Appleton, WI' 'Akron, OH'
 'Harlingen/San Benito, TX' 'White Plains, NY' 'Philadelphia, PA'
 'Moline, IL' 'Aguadilla, PR' 'San Francisco, CA' 'Newark, NJ'
 'Fort Lauderdale, FL' 'Salt Lake City, UT' 'Ponce, PR' 'San Jose, CA'
 'Long Beach, CA' 'Las Vegas, NV' 'Los Angeles, CA'
 'West Palm Beach/Palm Beach, FL' 'San Juan, PR' 'Sarasota/Bradenton, FL'
 'Austin, TX' 'Newburgh/Poughkeepsie, NY' 'Denver, CO' 'Seattle, WA'
 'Providence, RI' 'Sacramento, CA' 'Charlotte Amalie, VI' 'Portland, OR'
 'Worcester, MA' 'San Diego, CA' 'Reno, NV' 'Albany, NY' 'Phoenix, AZ'
 'Oakland, CA' 'Palm Springs, CA' 'Christiansted, VI' 'Burbank, CA'
 'Daytona Beach, FL' 'Albuquerque, NM' 'Brownsville, TX' 'El Paso, TX'
 'Oklahoma City, OK' 'Gulfport/Biloxi, MS' 'South Bend, IN'
 'Mission/McAllen/Edinburg, TX' 'Lake Charles, LA' 'Lafayette, LA'
 'Myrtle Beach, SC' 'Rochester, MN' 'Lincoln, NE' 'Birmingham, AL'
 'Augusta, GA' 'Jackson/Vicksburg, MS' 'Cedar Rapids/Iowa City, IA'
 'Panama City, FL' 'Valparaiso, FL' 'Key West, FL'
 'Allentown/Bethlehem/Easton, PA' 'Sanford, FL' 'Billings, MT' 'Flint, MI'
 'Missoula, MT' 'Idaho Falls, ID' 'Stockton, CA' 'Toledo, OH'
 'Sioux Falls, SD' 'Ashland, WV' 'Fresno, CA' 'Eugene, OR'
 'Bellingham, WA' 'Punta Gorda, FL' 'St. Cloud, MN' 'St. Petersburg, FL'
 'Plattsburgh, NY' 'Ogdensburg, NY' 'Concord, NC' 'Springfield, IL'
 'Provo, UT' 'Montrose/Delta, CO' 'Fort Wayne, IN' 'Portsmouth, NH'
 'Trenton, NJ' 'Niagara Falls, NY' 'Belleville, IL' 'Rockford, IL'
 'Ogden, UT' 'Boise, ID' 'Medford, OR' 'Great Falls, MT'
 'Pasco/Kennewick/Richland, WA' 'Wichita, KS' 'Grand Island, NE'
 'Monterey, CA' 'Grand Junction, CO' 'Laredo, TX' 'Rapid City, SD'
 'Kalispell, MT' 'Santa Maria, CA' 'Bozeman, MT' 'Hagerstown, MD'
 'Clarksburg/Fairmont, WV' 'Colorado Springs, CO' 'Owensboro, KY'
 'Honolulu, HI' 'Kahului, HI' 'Kona, HI' 'Lihue, HI' 'Hilo, HI'
 'Columbia, MO' 'Casper, WY' 'Scranton/Wilkes-Barre, PA' 'Tucson, AZ'
 'Bend/Redmond, OR' 'Santa Barbara, CA' 'Aspen, CO' 'Ontario, CA'
 'Helena, MT' 'Sun Valley/Hailey/Ketchum, ID' 'Durango, CO'
 'Williston, ND' 'Arcata/Eureka, CA' 'San Luis Obispo, CA'
 'Mammoth Lakes, CA' 'Spokane, WA' 'Jackson, WY' 'Santa Rosa, CA'
 'Santa Ana, CA' 'Redding, CA' 'Bakersfield, CA' 'Hayden, CO'
 'Midland/Odessa, TX' 'Ithaca/Cortland, NY' 'Lewiston, ID' 'Pocatello, ID'
 'Aberdeen, SD' 'Cody, WY' 'Alpena, MI' 'Escanaba, MI' 'Pellston, MI'
 'Bemidji, MN' 'Brainerd, MN' 'Butte, MT' 'Cedar City, UT'
 'St. George, UT' 'Sault Ste. Marie, MI' 'Marquette, MI' 'Elko, NV'
 'Hibbing, MN' 'Binghamton, NY' 'Twin Falls, ID' 'Rhinelander, WI'
 'International Falls, MN' 'Iron Mountain/Kingsfd, MI' 'Dallas, TX'
 'Columbus, MS' 'Monroe, LA' 'State College, PA' 'Erie, PA'
 'La Crosse, WI' 'Duluth, MN' 'Muskegon, MI' 'Pueblo, CO'
 'Hancock/Houghton, MI' 'Paducah, KY' 'Quincy, IL' 'Rock Springs, WY'
 'Jamestown, ND' 'Devils Lake, ND' 'Laramie, WY' 'Gillette, WY'
 'Eau Claire, WI' 'Hays, KS' 'Eagle, CO' 'Cape Girardeau, MO'
 'North Bend/Coos Bay, OR' 'Amarillo, TX' 'Miami, FL' 'Islip, NY'
 'Pago Pago, TT' 'Hoolehua, HI' 'Lanai, HI' 'Kapalua, HI'
 'Atlantic City, NJ' 'Latrobe, PA' 'Lubbock, TX' 'Pensacola, FL'
 'Corpus Christi, TX' 'Melbourne, FL' 'Fairbanks, AK' 'Anchorage, AK'
 'Newport News/Williamsburg, VA' 'Guam, TT' 'Gunnison, CO' 'Bethel, AK'
 'Kodiak, AK' 'Deadhorse, AK' 'Barrow, AK' 'Ketchikan, AK' 'Juneau, AK'
 'Sitka, AK' 'Petersburg, AK' 'Wrangell, AK' 'Nome, AK' 'Kotzebue, AK'
 'Yakutat, AK' 'Cordova, AK' 'Adak Island, AK' 'Yakima, WA' 'Santa Fe, NM'
 'Champaign/Urbana, IL' 'Dickinson, ND' 'Saipan, TT' 'Rota, TT'
 'Walla Walla, WA' 'Wenatchee, WA' 'Pullman, WA'
 'College Station/Bryan, TX' 'Hobbs, NM' 'Youngstown/Warren, OH'
 'Unalaska, AK' 'Scottsbluff, NE' 'Nantucket, MA' "Martha's Vineyard, MA"
 'Branson, MO' 'Tyler, TX' 'San Angelo, TX' 'Wichita Falls, TX'
 'Beaumont/Port Arthur, TX' 'Lawton/Fort Sill, OK' 'Waco, TX'
 'Flagstaff, AZ' 'Yuma, AZ' 'Meridian, MS' 'Hattiesburg/Laurel, MS'
 'Roswell, NM' 'Kearney, NE' 'Moab, UT' 'Vernal, UT' 'Lewisburg, WV'
 'Staunton, VA' 'Salina, KS' 'Liberal, KS' 'North Platte, NE'
 'Prescott, AZ' 'Abilene, TX' 'Manhattan/Ft. Riley, KS' 'Texarkana, AR'
 'Lynchburg, VA' 'Greenville, NC' 'New Haven, CT'
 'Presque Isle/Houlton, ME' 'Hilton Head, SC' 'Longview, TX'
 'Waterloo, IA' 'Sioux City, IA' 'Dubuque, IA' 'Garden City, KS'
 'Salisbury, MD' 'Williamsport, PA' 'Florence, SC' 'Stillwater, OK'
 'Joplin, MO' 'Watertown, NY' 'Cheyenne, WY' 'Del Rio, TX' 'Hyannis, MA'
 'Dillingham, AK' 'King Salmon, AK' 'Gustavus, AK' 'West Yellowstone, MT']
unique 개수 : 364

column : DestState
['GA' 'AL' 'IN' 'MI' 'NC' 'MA' 'NY' 'MN' 'OH' 'MO' 'TN' 'WI' 'LA' 'TX'
 'IL' 'VA' 'ME' 'KY' 'ND' 'AR' 'VT' 'OK' 'WV' 'PA' 'FL' 'NH' 'SC' 'CT'
 'IA' 'NE' 'MD' 'PR' 'CA' 'NJ' 'UT' 'NV' 'CO' 'WA' 'RI' 'VI' 'OR' 'AZ'
 'NM' 'MS' 'MT' 'ID' 'SD' 'KS' 'HI' 'WY' 'TT' 'AK']
unique 개수 : 52

column : DestStateFips
[13  1 18 26 37 25 36 27 39 29 47 55 22 48 17 51 23 21 38  5 50 40 54 42
 12 33 45  9 19 31 24 72  6 34 49 32  8 53 44 78 41  4 35 28 30 16 46 20
 15 56 75  2]
unique 개수 : 52

column : DestStateName
['Georgia' 'Alabama' 'Indiana' 'Michigan' 'North Carolina' 'Massachusetts'
 'New York' 'Minnesota' 'Ohio' 'Missouri' 'Tennessee' 'Wisconsin'
 'Louisiana' 'Texas' 'Illinois' 'Virginia' 'Maine' 'Kentucky'
 'North Dakota' 'Arkansas' 'Vermont' 'Oklahoma' 'West Virginia'
 'Pennsylvania' 'Florida' 'New Hampshire' 'South Carolina' 'Connecticut'
 'Iowa' 'Nebraska' 'Maryland' 'Puerto Rico' 'California' 'New Jersey'
 'Utah' 'Nevada' 'Colorado' 'Washington' 'Rhode Island'
 'U.S. Virgin Islands' 'Oregon' 'Arizona' 'New Mexico' 'Mississippi'
 'Montana' 'Idaho' 'South Dakota' 'Kansas' 'Hawaii' 'Wyoming'
 'U.S. Pacific Trust Territories and Possessions' 'Alaska']
unique 개수 : 52

column : DestWac
[34 51 42 43 36 13 22 63 44 64 54 45 72 74 41 38 12 52 66 71 16 73 39 23
 33 14 37 11 61 65 35  3 91 21 87 85 82 93 15  4 92 81 86 53 84 83 67 62
  2 88  5  1]
unique 개수 : 52

### Dest -> DestAirportID 인코딩 됨
### DestState, DestStateFips, DestStateName -> DestWac 인코딩 됨
### DestCityName -> OriginWac 안에 범주 간소화 되어 인코딩 됨

In [42]:
df = df.drop(columns = ['Dest','DestState', 'DestStateFips', 'DestStateName' ,'DestCityName' ])

In [43]:
df_dest = df_dest.drop(columns = ['Dest','DestState', 'DestStateFips', 'DestStateName' ,'DestCityName' ])

In [44]:
df_dest.corr()

                  DestAirportID  DestAirportSeqID  DestCityMarketID   DestWac
DestAirportID          1.000000          1.000000          0.610360  0.259498
DestAirportSeqID       1.000000          1.000000          0.610360  0.259498
DestCityMarketID       0.610360          0.610360          1.000000  0.077221
DestWac                0.259498          0.259498          0.077221  1.000000

In [45]:
df_dest['Cancelled'] = df['Cancelled']

In [46]:
df_dest.corr()

,DestAirportID,DestAirportSeqID,DestCityMarketID,DestWac,Cancelled
DestAirportID,1.000000,1.000000,0.610360,0.259498,-0.010968
DestAirportSeqID,1.000000,1.000000,0.610360,0.259498,-0.010968
DestCityMarketID,0.610360,0.610360,1.000000,0.077221,-0.005566
DestWac,0.259498,0.259498,0.077221,1.000000,-0.037664
Cancelled,-0.010968,-0.010968,-0.005566,-0.037664,1.000000

### 상관계수 제일 높은 DestWac만 채택

In [47]:
df = df.drop(columns = ['DestAirportID','DestAirportSeqID','DestCityMarketID'])

## 문자형 컬럼 인코딩

In [48]:
df.dtypes

Airline                                     object
Cancelled                                     bool
Diverted                                      bool
CRSDepTime                                   int64
CRSElapsedTime                             float64
Distance                                   float64
Quarter                                      int64
Marketing_Airline_Network                   object
Operated_or_Branded_Code_Share_Partners     object
DOT_ID_Marketing_Airline                     int64
IATA_Code_Marketing_Airline                 object
Flight_Number_Marketing_Airline              int64
Operating_Airline                           object
DOT_ID_Operating_Airline                     int64
IATA_Code_Operating_Airline                 object
Flight_Number_Operating_Airline              int64
OriginWac                                    int64
DestWac                                      int64
DepTimeBlk                                  object
CRSArrTime                                   int64
ArrTimeBlk                                  object
DistanceGroup                                int64
DivAirportLandings                         float64
dtype: object

In [49]:
df['CRSElapsedTime'] = df['CRSElapsedTime'].astype('int64')
df['Distance'] = df['Distance'].astype('int64')
df['DivAirportLandings'] = df['DivAirportLandings'].astype('int64')

In [50]:
df.dtypes

Airline                                    object
Cancelled                                    bool
Diverted                                     bool
CRSDepTime                                  int64
CRSElapsedTime                              int64
Distance                                    int64
Quarter                                     int64
Marketing_Airline_Network                  object
Operated_or_Branded_Code_Share_Partners    object
DOT_ID_Marketing_Airline                    int64
IATA_Code_Marketing_Airline                object
Flight_Number_Marketing_Airline             int64
Operating_Airline                          object
DOT_ID_Operating_Airline                    int64
IATA_Code_Operating_Airline                object
Flight_Number_Operating_Airline             int64
OriginWac                                   int64
DestWac                                     int64
DepTimeBlk                                 object
CRSArrTime                                  int64
ArrTimeBlk                                 object
DistanceGroup                               int64
DivAirportLandings                          int64
dtype: object

### 문자형 데이터만 추출

In [51]:
obj_columns = []

for i in df.columns:
    if df[i].dtype == 'object':
        obj_columns.append(i)

In [52]:
df_obj = df[obj_columns]

In [53]:
df_obj

,Airline,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,IATA_Code_Marketing_Airline,Operating_Airline,IATA_Code_Operating_Airline,DepTimeBlk,ArrTimeBlk
0,Endeavor Air Inc.,DL,DL_CODESHARE,DL,9E,9E,1200-1259,1300-1359
1,Endeavor Air Inc.,DL,DL_CODESHARE,DL,9E,9E,1200-1259,1300-1359
2,Endeavor Air Inc.,DL,DL_CODESHARE,DL,9E,9E,1200-1259,1300-1359
3,Endeavor Air Inc.,DL,DL_CODESHARE,DL,9E,9E,1200-1259,1300-1359
4,Endeavor Air Inc.,DL,DL_CODESHARE,DL,9E,9E,1400-1459,1500-1559
...,...,...,...,...,...,...,...,...
5689507,Air Wisconsin Airlines Corp,UA,UA_CODESHARE,UA,ZW,ZW,1400-1459,1500-1559
5689508,Air Wisconsin Airlines Corp,UA,UA_CODESHARE,UA,ZW,ZW,1200-1259,1300-1359
5689509,Air Wisconsin Airlines Corp,UA,UA_CODESHARE,UA,ZW,ZW,1000-1059,1200-1259
5689510,Air Wisconsin Airlines Corp,UA,UA_CODESHARE,UA,ZW,ZW,1400-1459,1700-1759
5689511,Air Wisconsin Airlines Corp,UA,UA_CODESHARE,UA,ZW,ZW,1800-1859,1900-1959

In [54]:
for i in df_obj.columns:
    print('column :' ,i)
    print(df_obj[i].unique())
    print('unique 개수 :', len(df_obj[i].unique()))
    print('')

column : Airline
['Endeavor Air Inc.' 'JetBlue Airways' 'ExpressJet Airlines Inc.'
 'Allegiant Air' 'Hawaiian Airlines Inc.' 'Spirit Air Lines'
 'SkyWest Airlines Inc.' 'Frontier Airlines Inc.' 'Empire Airlines Inc.'
 'Southwest Airlines Co.' 'Mesa Airlines Inc.' 'Republic Airlines'
 'Delta Air Lines Inc.' 'United Air Lines Inc.' 'Alaska Airlines Inc.'
 'Horizon Air' 'Commutair Aka Champlain Enterprises, Inc.'
 'Trans States Airlines' 'GoJet Airlines, LLC d/b/a United Express'
 'Air Wisconsin Airlines Corp' 'Cape Air' 'Compass Airlines'
 'Virgin America' 'Peninsula Airways Inc.' 'Envoy Air'
 'American Airlines Inc.' 'Comair Inc.' 'Capital Cargo International']
unique 개수 : 28

column : Marketing_Airline_Network
['DL' 'B6' 'UA' 'G4' 'HA' 'NK' 'AS' 'F9' 'WN' 'VX' 'AA']
unique 개수 : 11

column : Operated_or_Branded_Code_Share_Partners
['DL_CODESHARE' 'B6' 'UA_CODESHARE' 'G4' 'HA' 'NK' 'AS_CODESHARE' 'F9'
 'HA_CODESHARE' 'WN' 'DL' 'UA' 'AS' 'VX' 'AA_CODESHARE' 'AA']
unique 개수 : 16

column : IATA_Code_Marketing_Airline
['DL' 'B6' 'UA' 'G4' 'HA' 'NK' 'AS' 'F9' 'WN' 'VX' 'AA']
unique 개수 : 11

column : Operating_Airline
['9E' 'B6' 'EV' 'G4' 'HA' 'NK' 'OO' 'F9' 'EM' 'WN' 'YV' 'YX' 'DL' 'UA'
 'AS' 'QX' 'C5' 'AX' 'G7' 'ZW' '9K' 'CP' 'VX' 'KS' 'MQ' 'AA' 'OH' 'PT']
unique 개수 : 28

column : IATA_Code_Operating_Airline
['9E' 'B6' 'EV' 'G4' 'HA' 'NK' 'OO' 'F9' 'EM' 'WN' 'YV' 'YX' 'DL' 'UA'
 'AS' 'QX' 'C5' 'AX' 'G7' 'ZW' '9K' 'CP' 'VX' 'KS' 'MQ' 'AA' 'OH' 'PT']
unique 개수 : 28

column : DepTimeBlk
['1200-1259' '1400-1459' '1000-1059' '0900-0959' '0800-0859' '0700-0759'
 '2200-2259' '1800-1859' '1500-1559' '1300-1359' '1900-1959' '1700-1759'
 '1600-1659' '1100-1159' '2100-2159' '0600-0659' '2000-2059' '0001-0559'
 '2300-2359']
unique 개수 : 19

column : ArrTimeBlk
['1300-1359' '1500-1559' '1100-1159' '1000-1059' '0800-0859' '1200-1259'
 '2300-2359' '1400-1459' '1900-1959' '1600-1659' '1700-1759' '2200-2259'
 '1800-1859' '2000-2059' '2100-2159' '0700-0759' '0900-0959' '0600-0659'
 '0001-0559']
unique 개수 : 19

In [55]:
df['Marketing_Airline_Network'].value_counts()

UA    1525257
WN    1352552
AA     856113
DL     838465
AS     309195
B6     305010
NK     176178
F9     120034
G4      96221
HA      92810
VX      17670
Name: Marketing_Airline_Network, dtype: int64

In [56]:
df['IATA_Code_Marketing_Airline'].value_counts()

UA    1525257
WN    1352552
AA     856113
DL     838465
AS     309195
B6     305010
NK     176178
F9     120034
G4      96221
HA      92810
VX      17670
Name: IATA_Code_Marketing_Airline, dtype: int64

In [57]:
df['Airline'].value_counts()

Southwest Airlines Co.                       1352552
United Air Lines Inc.                         621565
SkyWest Airlines Inc.                         531792
Delta Air Lines Inc.                          461718
American Airlines Inc.                        385183
JetBlue Airways                               305010
Republic Airlines                             203526
Alaska Airlines Inc.                          184751
Spirit Air Lines                              176178
ExpressJet Airlines Inc.                      167180
Mesa Airlines Inc.                            153694
Envoy Air                                     127750
Frontier Airlines Inc.                        120034
Endeavor Air Inc.                             120030
Comair Inc.                                   117132
Air Wisconsin Airlines Corp                    98763
Allegiant Air                                  96221
Horizon Air                                    85245
Hawaiian Airlines Inc.                         83723
Trans States Airlines                          66885
GoJet Airlines, LLC d/b/a United Express       63498
Commutair Aka Champlain Enterprises, Inc.      48010
Compass Airlines                               44898
Capital Cargo International                    44440
Virgin America                                 17670
Empire Airlines Inc.                            9087
Cape Air                                        1661
Peninsula Airways Inc.                          1309
Name: Airline, dtype: int64

In [58]:
df['Operating_Airline'].value_counts()

WN    1352552
UA     621565
OO     531792
DL     461718
AA     385183
B6     305010
YX     203526
AS     184751
NK     176178
EV     167180
YV     153694
MQ     127750
F9     120034
9E     120030
OH     117132
ZW      98763
G4      96221
QX      85245
HA      83723
AX      66885
G7      63498
C5      48010
CP      44898
PT      44440
VX      17670
EM       9087
9K       1661
KS       1309
Name: Operating_Airline, dtype: int64

### Operating_Airline 컬럼, IATA_Code_Operating_Airline , Airline컬럼은 같은 컬럼
### IATA_Code_Marketing_Airline, Marketing_Airline_Network 컬럼도 같은 컬럼

In [59]:
df = df.drop(columns = ['Airline' , 'IATA_Code_Operating_Airline' , 'IATA_Code_Marketing_Airline'])

In [60]:
df_obj = df_obj.drop(columns = ['Airline' , 'IATA_Code_Operating_Airline' , 'IATA_Code_Marketing_Airline'])

In [61]:
df_obj

,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,Operating_Airline,DepTimeBlk,ArrTimeBlk
0,DL,DL_CODESHARE,9E,1200-1259,1300-1359
1,DL,DL_CODESHARE,9E,1200-1259,1300-1359
2,DL,DL_CODESHARE,9E,1200-1259,1300-1359
3,DL,DL_CODESHARE,9E,1200-1259,1300-1359
4,DL,DL_CODESHARE,9E,1400-1459,1500-1559
...,...,...,...,...,...
5689507,UA,UA_CODESHARE,ZW,1400-1459,1500-1559
5689508,UA,UA_CODESHARE,ZW,1200-1259,1300-1359
5689509,UA,UA_CODESHARE,ZW,1000-1059,1200-1259
5689510,UA,UA_CODESHARE,ZW,1400-1459,1700-1759
5689511,UA,UA_CODESHARE,ZW,1800-1859,1900-1959

### 인코딩

In [62]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
encoder.fit(df['Marketing_Airline_Network'])
df['Marketing_Airline_Network'] = encoder.transform(df['Marketing_Airline_Network'])

In [63]:
encoder.fit(df['Operated_or_Branded_Code_Share_Partners'])
df['Operated_or_Branded_Code_Share_Partners'] = encoder.transform(df['Operated_or_Branded_Code_Share_Partners'])

In [64]:
encoder.fit(df['Operating_Airline'])
df['Operating_Airline'] = encoder.transform(df['Operating_Airline'])

In [65]:
encoder.fit(df['DepTimeBlk'])
df['DepTimeBlk'] = encoder.transform(df['DepTimeBlk'])

In [66]:
encoder.fit(df['ArrTimeBlk'])
df['ArrTimeBlk'] = encoder.transform(df['ArrTimeBlk'])

In [67]:
df.dtypes

Cancelled                                   bool
Diverted                                    bool
CRSDepTime                                 int64
CRSElapsedTime                             int64
Distance                                   int64
Quarter                                    int64
Marketing_Airline_Network                  int32
Operated_or_Branded_Code_Share_Partners    int32
DOT_ID_Marketing_Airline                   int64
Flight_Number_Marketing_Airline            int64
Operating_Airline                          int32
DOT_ID_Operating_Airline                   int64
Flight_Number_Operating_Airline            int64
OriginWac                                  int64
DestWac                                    int64
DepTimeBlk                                 int32
CRSArrTime                                 int64
ArrTimeBlk                                 int32
DistanceGroup                              int64
DivAirportLandings                         int64
dtype: object

## 인코딩 끝, 마지막으로 나머지 컬럼들 중 중복되는 컬럼이 없는지 확인

In [68]:
df['Diverted'].value_counts()

False    5675553
True       13952
Name: Diverted, dtype: int64

In [69]:
df['Cancelled'].value_counts()

False    5601136
True       88369
Name: Cancelled, dtype: int64

In [70]:
int64_columns = []

for i in df.columns:
    if df[i].dtype == 'int64':
        int64_columns.append(i)

In [71]:
df_int64 = df[int64_columns]

In [72]:
df_int64

,CRSDepTime,CRSElapsedTime,Distance,Quarter,DOT_ID_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Operating_Airline,Flight_Number_Operating_Airline,OriginWac,DestWac,CRSArrTime,DistanceGroup,DivAirportLandings
0,1202,62,145,1,19790,3298,20363,3298,34,34,1304,1,0
1,1202,62,145,1,19790,3298,20363,3298,34,34,1304,1,0
2,1202,62,145,1,19790,3298,20363,3298,34,34,1304,1,0
3,1202,62,145,1,19790,3298,20363,3298,34,34,1304,1,0
4,1400,60,145,1,19790,3298,20363,3298,34,34,1500,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5689507,1445,61,133,3,19977,3839,20046,3839,23,38,1546,1,0
5689508,1235,80,239,3,19977,3838,20046,3838,38,36,1355,1,0
5689509,1030,94,272,3,19977,3837,20046,3837,42,41,1204,2,0
5689510,1410,136,738,3,19977,3837,20046,3837,41,22,1726,3,0
5689511,1800,153,738,3,19977,3836,20046,3836,22,41,1933,3,0

In [73]:
for i in df_int64:
    print('column :' ,i)
    print(df_int64[i].unique())
    print('unique 개수 :', len(df_int64[i].unique()))
    print('')

column : CRSDepTime
[1202 1400 1037 ...  122  121  134]
unique 개수 : 1366

column : CRSElapsedTime
[  62   60   59   88   89   83   76   87   84  166   85  135  129   78
   79   81  110   90   66  125  152   80   97  180  114  113  107  102
   73  104   70  119  118  157  199  168  105  117  122   94  106  143
   56   55  202  115  120   93   98   74  100  124   99   95   77   86
  123  121  109   67   92  101  132   82  134  111   61   68  116  127
  112  128   65  148  231  103  136   57  175   63  169  158  205  108
  171   54   75  182   58  226  220  224   69  140  151  126   64   71
  159  165  162   96   91  133  237  138  145  131   72  179  195  147
  141  137  163  207  188   46   52   51  144   49  176  167  191  142
  150  173  130   53  174  153  198  204  190  172  146  149  156  161
  208  212  214  139  177  189  215  209  170  206  193  155  194  187
  160  420  337  268  196  178  222  185  402  326  216  408  321  288
  359  210  184  192  247  294  264  298  253  230  164  418  328  235
  242  248  374  297  211  181  413  322  203  355  283  289  399  290
  223  381  278   40  293  373  296  219  312  197  310  186   35  286
  233  254  262  234  225  410  325  389  183  357  394  387  221  382
  238  218  252  320  271  395  316  383  315  236  331  256  200  307
  287  358  347  329  350  272  372  299  243  370  384  314  378  274
  309  393  201  405  319  267  414   41   44  317  388  249  323  227
  318  330  390  258  284  367  362  400  407  386  403  348  154   50
  217  241  257  281  240  250  276  213  228  246  255  229  375  340
  335  305  385  365  345  380  300  425  360  285  565  690   39   45
   34   36   42   48   37   43  239  341  279  265  306  275  277   47
  282  260  245  232  269  273  295  261  280  251  244  259   38   33
   28   27   32   29   30   18   22  303  364  349  304  291  263  270
  302  336  313  551  469  368  421  327  324  346  352  401  397  333
  363  391  428  334  392  301  356  396  422  344  376  366  369  415
  338  520  620  339  361  379  308  371  266  332  311  433  416  343
  555  473  292  683  578  471  646  457  354  525  450  573  483  409
  567  475  411  342  404  351  377  398  477  680  571  640  548  575
  470  430  480  417   24   23  353  412  406  702  581  564  427  704
  622  586  561  431  424  -31  516  618  476  435  419 1605  -44  -30
  -32 1577 1560 1532 1528 1606  -37 1540 1580 1530 1541  -79 1645 1623
 1629 1614  440 1520 1410  -36 1542  -35 1557 1502 1611  -47 1526 1403
  -40 1508 1509 1567 1513  -34 1609  -42 1544 1549 1552 1512 1553 1545
 1507 1589  -82  -90 1554  -55  -46  -41 1538 1522  -43 1547 1562  -38
 1568   21   31  527  599  672  444  515  445  557  474  454  455  429
  496  458  547  485  650  570  472  615  550  539  580  655  499  569
  495  -99  488  492  441  482  500  524  597  502   10  466  633  543
   19  590  449  530  498  589  423  505  598  438  426  437  513  512
  508  509  675  479  478  679  641  542  461  523  521  703  562  501
  594  517  614  519  514  432  436  681  695  -60   26  553  531  558
  658  579  456  552  493  631  585  670  563  625  529  616   25   20
  465  595  656  572  497  462  460  443    5  559  434    1  489  490
  448  453  491  442  534  588  447]
unique 개수 : 623

column : Distance
[ 145  302  350 ... 3417 1800  450]
unique 개수 : 1557

column : Quarter
[1 4 2 3]
unique 개수 : 4

column : DOT_ID_Marketing_Airline
[19790 20409 19977 20368 19690 20416 19930 20436 19393 21171 19805]
unique 개수 : 11

column : Flight_Number_Marketing_Airline
[3298 3299 3300 ... 9385 9304 9303]
unique 개수 : 7151

column : DOT_ID_Operating_Airline
[20363 20409 20366 20368 19690 20416 20304 20436 20263 19393 20378 20452
 19790 19977 19930 19687 20445 20237 20500 20046 20253 21167 21171 20225
 20398 19805 20397 20427]
unique 개수 : 28

column : Flight_Number_Operating_Airline
[3298 3299 3300 ... 9385 9304 9303]
unique 개수 : 7173

column : OriginWac
[34 51 22 74 16 52 38 36 64 63 45 43 33 72 42 44 41 54 12 37 66 71 13 73
 39 53 23 65 35 61 14 11 21  3 87 91 85 82 93  4 15 92 81 86 62 84 83 67
  2 88  5  1]
unique 개수 : 52

column : DestWac
[34 51 42 43 36 13 22 63 44 64 54 45 72 74 41 38 12 52 66 71 16 73 39 23
 33 14 37 11 61 65 35  3 91 21 87 85 82 93 15  4 92 81 86 53 84 83 67 62
  2 88  5  1]
unique 개수 : 52

column : CRSArrTime
[1304 1500 1137 ...  328  244  337]
unique 개수 : 1430

column : DistanceGroup
[ 1  2  4  3  5  6 11  9 10  7  8]
unique 개수 : 11

column : DivAirportLandings
[0 1 9 2]
unique 개수 : 4

# 중복없음, 인코딩 끝!

In [75]:
df

,Cancelled,Diverted,CRSDepTime,CRSElapsedTime,Distance,Quarter,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,Flight_Number_Operating_Airline,OriginWac,DestWac,DepTimeBlk,CRSArrTime,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,False,False,1202,62,145,1,3,6,19790,3298,0,20363,3298,34,34,7,1304,8,1,0
1,False,False,1202,62,145,1,3,6,19790,3298,0,20363,3298,34,34,7,1304,8,1,0
2,False,False,1202,62,145,1,3,6,19790,3298,0,20363,3298,34,34,7,1304,8,1,0
3,False,False,1202,62,145,1,3,6,19790,3298,0,20363,3298,34,34,7,1304,8,1,0
4,False,False,1400,60,145,1,3,6,19790,3298,0,20363,3298,34,34,9,1500,10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5689507,False,False,1445,61,133,3,8,13,19977,3839,27,20046,3839,23,38,9,1546,10,1,0
5689508,False,False,1235,80,239,3,8,13,19977,3838,27,20046,3838,38,36,7,1355,8,1,0
5689509,False,False,1030,94,272,3,8,13,19977,3837,27,20046,3837,42,41,5,1204,7,2,0
5689510,False,False,1410,136,738,3,8,13,19977,3837,27,20046,3837,41,22,9,1726,12,3,0
5689511,False,False,1800,153,738,3,8,13,19977,3836,27,20046,3836,22,41,13,1933,14,3,0

# scaling

In [76]:
from sklearn.preprocessing import MinMaxScaler

scaler_ = MinMaxScaler()
scaler_.fit(df)
df_scaled_ = scaler_.transform(df)

In [80]:
df_final = pd.DataFrame(df_scaled_, columns = df.columns)

In [81]:
df_final

,Cancelled,Diverted,CRSDepTime,CRSElapsedTime,Distance,Quarter,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,Flight_Number_Operating_Airline,OriginWac,DestWac,DepTimeBlk,CRSArrTime,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,0.0,0.0,0.509330,0.092317,0.025971,0.000000,0.3,0.400000,0.223285,0.351343,0.0,0.545557,0.351343,0.358696,0.358696,0.388889,0.543143,0.444444,0.0,0.0
1,0.0,0.0,0.509330,0.092317,0.025971,0.000000,0.3,0.400000,0.223285,0.351343,0.0,0.545557,0.351343,0.358696,0.358696,0.388889,0.543143,0.444444,0.0,0.0
2,0.0,0.0,0.509330,0.092317,0.025971,0.000000,0.3,0.400000,0.223285,0.351343,0.0,0.545557,0.351343,0.358696,0.358696,0.388889,0.543143,0.444444,0.0,0.0
3,0.0,0.0,0.509330,0.092317,0.025971,0.000000,0.3,0.400000,0.223285,0.351343,0.0,0.545557,0.351343,0.358696,0.358696,0.388889,0.543143,0.444444,0.0,0.0
4,0.0,0.0,0.593299,0.091170,0.025971,0.000000,0.3,0.400000,0.223285,0.351343,0.0,0.545557,0.351343,0.358696,0.358696,0.500000,0.624844,0.555556,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5689500,0.0,0.0,0.612383,0.091743,0.023555,0.666667,0.8,0.866667,0.328459,0.408994,1.0,0.367267,0.408994,0.239130,0.402174,0.500000,0.644018,0.555556,0.0,0.0
5689501,0.0,0.0,0.523325,0.102638,0.044896,0.666667,0.8,0.866667,0.328459,0.408887,1.0,0.367267,0.408887,0.402174,0.380435,0.388889,0.564402,0.444444,0.0,0.0
5689502,0.0,0.0,0.436387,0.110665,0.051540,0.666667,0.8,0.866667,0.328459,0.408781,1.0,0.367267,0.408781,0.445652,0.434783,0.277778,0.501459,0.388889,0.1,0.0
5689503,0.0,0.0,0.597540,0.134748,0.145359,0.666667,0.8,0.866667,0.328459,0.408781,1.0,0.367267,0.408781,0.434783,0.228261,0.500000,0.719050,0.666667,0.2,0.0
5689504,0.0,0.0,0.762935,0.144495,0.145359,0.666667,0.8,0.866667,0.328459,0.408674,1.0,0.367267,0.408674,0.228261,0.434783,0.722222,0.805336,0.777778,0.2,0.0

In [82]:
df

,Cancelled,Diverted,CRSDepTime,CRSElapsedTime,Distance,Quarter,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,Flight_Number_Operating_Airline,OriginWac,DestWac,DepTimeBlk,CRSArrTime,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,False,False,1202,62,145,1,3,6,19790,3298,0,20363,3298,34,34,7,1304,8,1,0
1,False,False,1202,62,145,1,3,6,19790,3298,0,20363,3298,34,34,7,1304,8,1,0
2,False,False,1202,62,145,1,3,6,19790,3298,0,20363,3298,34,34,7,1304,8,1,0
3,False,False,1202,62,145,1,3,6,19790,3298,0,20363,3298,34,34,7,1304,8,1,0
4,False,False,1400,60,145,1,3,6,19790,3298,0,20363,3298,34,34,9,1500,10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5689507,False,False,1445,61,133,3,8,13,19977,3839,27,20046,3839,23,38,9,1546,10,1,0
5689508,False,False,1235,80,239,3,8,13,19977,3838,27,20046,3838,38,36,7,1355,8,1,0
5689509,False,False,1030,94,272,3,8,13,19977,3837,27,20046,3837,42,41,5,1204,7,2,0
5689510,False,False,1410,136,738,3,8,13,19977,3837,27,20046,3837,41,22,9,1726,12,3,0
5689511,False,False,1800,153,738,3,8,13,19977,3836,27,20046,3836,22,41,13,1933,14,3,0

In [83]:
df.dtypes

Cancelled                                   bool
Diverted                                    bool
CRSDepTime                                 int64
CRSElapsedTime                             int64
Distance                                   int64
Quarter                                    int64
Marketing_Airline_Network                  int32
Operated_or_Branded_Code_Share_Partners    int32
DOT_ID_Marketing_Airline                   int64
Flight_Number_Marketing_Airline            int64
Operating_Airline                          int32
DOT_ID_Operating_Airline                   int64
Flight_Number_Operating_Airline            int64
OriginWac                                  int64
DestWac                                    int64
DepTimeBlk                                 int32
CRSArrTime                                 int64
ArrTimeBlk                                 int32
DistanceGroup                              int64
DivAirportLandings                         int64
dtype: object

In [89]:
df_final['Cancelled'] = df_final['Cancelled'].astype('int64')

In [90]:
df_final['Diverted'] = df_final['Diverted'].astype('int64')

In [91]:
df_final

,Cancelled,Diverted,CRSDepTime,CRSElapsedTime,Distance,Quarter,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,Flight_Number_Operating_Airline,OriginWac,DestWac,DepTimeBlk,CRSArrTime,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,0,0,0.509330,0.092317,0.025971,0.000000,0.3,0.400000,0.223285,0.351343,0.0,0.545557,0.351343,0.358696,0.358696,0.388889,0.543143,0.444444,0.0,0.0
1,0,0,0.509330,0.092317,0.025971,0.000000,0.3,0.400000,0.223285,0.351343,0.0,0.545557,0.351343,0.358696,0.358696,0.388889,0.543143,0.444444,0.0,0.0
2,0,0,0.509330,0.092317,0.025971,0.000000,0.3,0.400000,0.223285,0.351343,0.0,0.545557,0.351343,0.358696,0.358696,0.388889,0.543143,0.444444,0.0,0.0
3,0,0,0.509330,0.092317,0.025971,0.000000,0.3,0.400000,0.223285,0.351343,0.0,0.545557,0.351343,0.358696,0.358696,0.388889,0.543143,0.444444,0.0,0.0
4,0,0,0.593299,0.091170,0.025971,0.000000,0.3,0.400000,0.223285,0.351343,0.0,0.545557,0.351343,0.358696,0.358696,0.500000,0.624844,0.555556,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5689500,0,0,0.612383,0.091743,0.023555,0.666667,0.8,0.866667,0.328459,0.408994,1.0,0.367267,0.408994,0.239130,0.402174,0.500000,0.644018,0.555556,0.0,0.0
5689501,0,0,0.523325,0.102638,0.044896,0.666667,0.8,0.866667,0.328459,0.408887,1.0,0.367267,0.408887,0.402174,0.380435,0.388889,0.564402,0.444444,0.0,0.0
5689502,0,0,0.436387,0.110665,0.051540,0.666667,0.8,0.866667,0.328459,0.408781,1.0,0.367267,0.408781,0.445652,0.434783,0.277778,0.501459,0.388889,0.1,0.0
5689503,0,0,0.597540,0.134748,0.145359,0.666667,0.8,0.866667,0.328459,0.408781,1.0,0.367267,0.408781,0.434783,0.228261,0.500000,0.719050,0.666667,0.2,0.0
5689504,0,0,0.762935,0.144495,0.145359,0.666667,0.8,0.866667,0.328459,0.408674,1.0,0.367267,0.408674,0.228261,0.434783,0.722222,0.805336,0.777778,0.2,0.0

In [92]:
df_final.to_csv('df_final.csv')

### 로지스틱 모델

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score, cross_validate
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import numpy as np

# 랜덤 포레스트 모델로부터 예측 확률을 얻어옴
y_pred_prob = rf_clf1.predict_proba(X_test)[:, 1]  # 양성 클래스의 확률을 사용

# 특정 임계값(0.01804)을 사용하여 이진 분류 예측 수행
threshold = 0.01804
y_pred = (y_pred_prob >= threshold).astype(int)

# 정확도, 정밀도, 재현율, F1 점수 계산
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print(f'임계값 {threshold:.5f}일 때 - 정확도: {accuracy:.4f}, 정밀도: {precision:.4f}, 재현율: {recall:.4f}, F1 점수: {f1:.4f}')

In [ ]:
def get_clf_eval(y_test, pred): # 혼동행렬
    confusion = confusion_matrix(y_test, pred)
    accuracy = accuracy_score(y_test, pred)
    precision = precision_score(y_test, pred)
    recall = recall_score(y_test, pred)
    print('오차 행렬')
    print(confusion)
    print('정확도: {0:.4f}, 정밀도:{1:.4f}, 재현율:{2:.4f}'.format(accuracy, precision, recall))

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
df_final = df_final.drop(columns="Unnamed: 0")

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df_final.drop('Cancelled',axis=1), df_final['Cancelled'], test_size=0.3, random_state=111)

In [ ]:
Ir_clf = LogisticRegression(solver = "saga")
Ir_clf.fit(X_train,y_train)
pred = Ir_clf.predict(X_test)
pred_proba = Ir_clf.predict_proba(X_test)

In [ ]:
get_clf_eval(y_test,pred)

In [ ]:
from sklearn.metrics import precision_recall_curve

#레이블 값이 1일때 예측확률을 추출
pred_proba_class1 = Ir_clf.predict_proba(X_test)[:,1]

# 실제값 데이터 세트와 레이블 값이 1일 때의 예측확률을 precision_recall_curve 인자로 입력 
precisions, recalls, thresholds = precision_recall_curve(y_test, pred_proba_class1)
print('반환된 분류 결정 임곗값 배열의 shape:', thresholds.shape)

#반환된 임계값 배열 로우가 약 약 38만건이므로 샘플로 10건만 추출하되, 임곗값을 38,000 step으로 추출
thr_index = np.arange(0,thresholds.shape[0], 38000)
print('샘플 추출을 위한 임계값 배열의 index 10개:', thr_index)
print('샘플용 10개의 임곗값:', np.round(thresholds[thr_index],5))

In [ ]:
from sklearn.preprocessing import Binarizer

In [ ]:
def get_clf_eval(y_test, pred):
    confusion = confusion_matrix(y_test, pred)
    accuracy = accuracy_score(y_test, pred)
    precision = precision_score(y_test, pred)
    recall = recall_score(y_test, pred)
    #F1 스코어 추가
    f1 = f1_score(y_test, pred)
    print('오차 행렬')
    print(confusion)
    # f1 score print 추가 
    print('정확도:{0:.4f}, 정밀도:{1:.4f}, 재현율:{2:.4f}, F1:{3:.4f}'.format(accuracy, precision, recall, f1))
    print("")
    
def get_eval_by_threshold(y_test, pred_proba_c1, thresholds):
    #thresholds list 객체 내의 값을 차례로 iteration 하면서 Evaluation 수행.
    for custom_threshold in thresholds:
        binarizer = Binarizer(threshold=custom_threshold).fit(pred_proba_c1)
        custom_pred
        ict = binarizer.transform(pred_proba_c1)
        print('임곗값:', custom_threshold)
        get_clf_eval(y_test, custom_predict)

# 앞서 구한 샘플 임계치에 따른 정확도, 정밀도, 재현율, f1_score 구하기
thresholds = [0.00073, 0.00548, 0.0071,  0.00875, 0.01042, 0.01225, 0.01441, 0.01722, 0.02118, 0.02747, 0.05494, 0.01804]
get_eval_by_threshold(y_test, pred_proba[:,1].reshape(-1,1), thresholds)

In [ ]:
from sklearn.metrics import precision_recall_curve

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
%matplotlib inline

def precision_recall_curve_plot(y_test, pred_proba_c1):
    # thredshold ndarray와 이 threshold에 따른 정밀도, 재현율 ndarray 추출 
    precision, recalls, thresholds = precision_recall_curve(y_test, pred_proba_c1)
    
    #X축을 thredshold 값으로, Y축은 정밀도, 재현율 값으로 각각 plot 수행. 정밀도는 점선으로 표시 
    plt.figure(figsize=(15,15))
    threshold_boundary = thresholds.shape[0]
    plt.plot(thresholds, precision[0:threshold_boundary], linestyle='--', label='precision')
    plt.plot(thresholds, recalls[0:threshold_boundary], label ='recall')
    
    #thredshold 값 X축 Scale을 0.1단위로 변경
    start, end = plt.xlim()
    plt.xticks(np.round(np.arange(start, end, 0.1),2))
    
    #X축, y축, label과 legend, 그리고 grid 설정
    plt.xlabel('Threshold value'); plt.ylabel('Precision and Recall value')
    plt.legend();plt.grid()
    plt.show()
    
precision_recall_curve_plot(y_test, Ir_clf.predict_proba(X_test)[:,1])

In [ ]:
from sklearn.metrics import roc_curve

In [ ]:
def roc_curve_plot(y_test, pred_proba_c1):
    #임곗값에 따른 FPR, TPR값을 반환받음.
    fprs, tprs, thresholds = roc_curve(y_test, pred_proba_c1)
    #ROC 곡선을 그래프 곡선으로 그림
    plt.plot(fprs, tprs, label='ROC')
    #가운데 대각선 직선을 그림
    plt.plot([0,1], [0,1], 'k--', label='Random')
    
    #FPR X축의 Scale을 0.1 단위로 변경, X,Y축 명 설정 등
    start, end = plt.xlim()
    plt.xticks(np.round(np.arange(start,end,0.1),2))
    plt.xlim(0,1);plt.ylim(0,1)
    plt.xlabel('FPR(1-Specificity)');plt.ylabel('TPR(Recall)')
    plt.legend()
    

    
roc_curve_plot(y_test, pred_proba[:,1])

In [ ]:
from sklearn.metrics import roc_auc_score

pred_proba = Ir_clf.predict_proba(X_test)[:,1]
roc_score = roc_auc_score(y_test, pred_proba)
print('ROC AUC 값:{0:.4f}'.format(roc_score))

In [ ]:
fpr, tpr, thresholds = roc_curve(y_test, pred_proba) 
optimal_idx = np.argmax(tpr - fpr)
optimal_threshold = thresholds[optimal_idx]
print("Threshold value is:", np.round(optimal_threshold, 5))

### Random Forest 모델

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score, cross_validate

In [ ]:
df_final_sp = df_final.drop('Unnamed: 0',axis=1)
df_final_sp

In [ ]:
# features/target, train/test dataset 분리
X_train, X_test, y_train, y_test = train_test_split(df_final_sp.drop('Cancelled',axis=1), df_final_sp['Cancelled'], test_size=0.3, random_state=111)

In [ ]:
rf_clf1 = RandomForestClassifier(n_estimators = 100, 
                                max_depth = 12,
                                min_samples_leaf = 8,
                                min_samples_split = 8,
                                random_state = 111,
                                n_jobs = -1)
rf_clf1.fit(X_train, y_train)

In [ ]:
# 특정 임계값(0.01804)을 사용하여 이진 분류 예측 수행
threshold = 0.01804
y_pred = (y_pred_prob >= threshold).astype(int)

# 오차 행렬 출력
conf_matrix = confusion_matrix(y_test, y_pred)
print('오차 행렬:\n', conf_matrix)

# ROC 커브 계산
fpr, tpr, thresholds = roc_curve(y_test, y_pred_prob)
roc_auc = auc(fpr, tpr)

# ROC 커브 그리기
plt.figure(figsize=(8, 6))
plt.plot(fpr, tpr, color='darkorange', lw=2, label='ROC curve (area = {:.2f})'.format(roc_auc))
plt.plot([0, 1], [0, 1], color='navy', lw=2, linestyle='--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate (FPR)')
plt.ylabel('True Positive Rate (TPR)')
plt.title('ROC Curve')
plt.legend(loc='lower right')
plt.show()

### DecisionTree 모델

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

DT=DecisionTreeClassifier(random_state=111,max_depth=30)
DT.fit(X_train,y_train)

pred_DT=DT.predict(X_test)
pp_DT=DT.predict_proba(X_test)[:,1]
get_clf_eval(y_test,pred_DT)

In [ ]:
def roc_curve_plot(y_test, pred_proba_c1):
    fprs, tprs, thresholds = roc_curve(y_test, pred_proba_c1)
    plt.plot(fprs, tprs, label='ROC')
    plt.plot([0,1], [0,1], 'k--', label='Random')
    
    start, end = plt.xlim()
    plt.xticks(np.round(np.arange(start,end,0.1),2))
    plt.xlim(0,1);plt.ylim(0,1)
    plt.xlabel('FPR(1-Specificity)');plt.ylabel('TPR(Recall)')
    plt.legend()
    
roc_curve_plot(y_test, pp_DT)

In [ ]:
from sklearn.preprocessing import Binarizer

custom_threshold = 0.01804
pp = pp_DT.reshape(-1, 1)

binarizer = Binarizer(threshold=custom_threshold).fit(pp)
custom_predict = binarizer.transform(pp)

print('임계치가 {0}일때,'.format(custom_threshold))
get_clf_eval(y_test, custom_predict)

ra_DT = roc_auc_score(y_test, custom_predict)
print('ROC AUC 값(DecisionTree):{0:.4f}'.format(ra_DT))

In [ ]:
roc_curve_plot(y_test, custom_predict)